<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
 <html xmlns="http://www.w3.org/1999/xhtml" xml:lang="eng" lang="eng">
  <head> 
  <title>页面未找到 : 404</title>
   <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
   <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/error.css")" type="text/css" />
   </head> 
   <body> 
   <div class="controller">
    <div class="objects"> 
    <!-- text area -->
    <div class="text-area rotate">
    <p class="error">Error 404</p>
    <p class="details">嗯..有些不对劲..<br /><br />您访问的页面不存在！</p> 
    </div> 
    <!-- text area -->
    <!-- home page --> 
    <div class="homepage rotate">
    <a href="/">返回首页</a> 
    </div> <!-- home page --> 
    </div> <!-- social-icons --> 
 
    </div> 

</body>
</html>
