@sidebar = {
    <div class="sidebar-menu toggle-others collapsed">

        <div class="sidebar-menu-inner">

            <header class="logo-env">

                    <!-- logo -->
                <div class="logo">
                    <a href="@routes.Application.index" class="logo-expanded">
                        <img src="@routes.Assets.at("images/neptune.png")" width="90" alt="" />
                    </a>

                    <a href="@routes.Application.index" class="logo-collapsed">
                        <img src="@routes.Assets.at("images/favicon.png")" width="40" alt="" />
                    </a>
                </div>

                    <!-- This will toggle the mobile menu and will be visible only on mobile devices -->
                <div class="mobile-menu-toggle visible-xs">
                    <a href="#" data-toggle="user-info-menu">
                        <i class="fa-bell-o"></i>
                        <span class="badge badge-success">7</span>
                    </a>

                    <a href="#" data-toggle="mobile-menu">
                        <i class="fa-bars"></i>
                    </a>
                </div>

                    <!-- This will open the popup with user profile settings, you can use for any purpose, just be creative -->
                <div class="settings-icon">
                    <a href="#" data-toggle="settings-pane" data-animate="true">
                        <i class="fa fa-cog fa-4x"></i>
                    </a>
                </div>


            </header>


            <ul id="main-menu" class="main-menu">
                    <!-- add class "multiple-expanded" to allow multiple submenus to open -->
                    <!-- class "auto-inherit-active-class" will automatically add "active" class for parent elements who are marked already with class "active" -->
                <li>
                    <a href="@routes.Application.index">
                        <i class="fa fa-dashboard fa-fw"></i>
                        <span class="title">仪表盘</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-graduation-cap"></i>
                        <span class="title">数据应用面板</span>
                    </a>
                    <ul>
                        <li>
                            <a href="@routes.SparkJar.executejarpage">
                                <span class="title">SPARK-JAR应用</span>
                            </a>
                        </li>
                        <li>
                            <a href="@routes.SparkSql.sqlpage">
                                <span class="title">SPARK-SQL应用</span>
                            </a>
                        </li>
                        <li>
                            <a href="@routes.SparkStream.stream">
                                <span class="title">SPARK-STREAM应用</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-table"></i>
                        <span class="title">APP数据</span>
                    </a>
                    <ul>
                        <li>
                            <a href="@routes.YarnList.yarnlist">
                                <span class="title">Yarn数据列表</span>
                            </a>
                        </li>
                        <li>
                            <a href="@routes.YarnList.sparklist">
                                <span class="title">Spark数据列表</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-anchor"></i>
                        <span class="title">任务调度</span>
                    </a>
                    <ul>
                        <li>
                            <a href="@routes.WorkFlows.workflows">
                                <span class="title">工作流调度列表</span>
                            </a>
                        </li>
                        <li>
                            <a href="@routes.WorkFlowsEditors.editorsList">
                                <span class="title">工作流编辑器</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-tasks"></i>
                        <span class="title">App Tracking</span>
                        <span class="label label-success pull-right" id="tracking">50</span>
                    </a>
                    <ul>
                        <li>
                            <a href="@routes.RunTask.runTask">
                                <span class="title">Spark Stream 运行任务列表</span>
                            </a>
                        </li>
                        <li>
                            <a href="@routes.MonitorController.jobs">
                                <span class="title">Spark Sql任务列表</span>
                            </a>
                        </li>
                        <li>
                            <a href="@routes.RunTask.runTaskLogs">
                                <span class="title">Spark 运行任务日志</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="opened active">
                    <a href="#">
                        <i class="fa fa-wrench"></i>
                        <span class="title">报警管理</span>
                        <span class="label label-success pull-right">5</span>
                    </a>
                    <ul>
                        <li class="active">
                            <a href="@routes.AlarmDisk.alarmDisk">
                                <span class="title">磁盘空间报警</span>
                            </a>
                        </li>
                        <li>
                            <a href="@routes.AlarmDisk.alarmDisk">
                                <span class="title">内存相关报警</span>
                            </a>
                        </li>
                        <li>
                            <a href="@routes.AlarmDisk.alarmDisk">
                                <span class="title">其他报警</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-users"></i>
                        <span class="title">用户管理</span>
                    </a>
                    <ul>
                        <li>
                            <a href="@routes.Usertally.usertatol">
                                <span class="title">用户统计</span>
                            </a>
                        </li>
                        <li>
                            <a href="@routes.UserManager.userlist">
                                <span class="title">用户管理</span>
                            </a>
                        </li>
                        <li>
                            <a href="@routes.Usertally.usertatol">
                                <span class="title">权限分配</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-arrows-alt"></i>
                        <span class="title">节点分布情况</span>
                    </a>
                    <ul>
                        <li>
                            <a href="@routes.YarnList.workerInfo">
                                <span class="title">Spark Worker信息</span>
                            </a>
                        </li>

                        <li>
                            <a href="@routes.Serviceplan.functionplan">
                                <span class="title">功能划分</span>
                            </a>
                        </li>
                        <li>
                            <a href="@routes.MetaDataManager.metadata">
                                <span class="title">集群管理</span>
                            </a>
                        </li>
                        <li>
                            <a href="@routes.HbaseOptions.findhot">
                                <span class="title">HotRegion™</span>
                            </a>
                        </li>
                        <li>
                            <a href="@routes.ServiceManager.summary">
                                <span class="title">服务管理</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>

        </div>

    </div>
}
@main("磁盘空间告警")(sidebar) {
    <div class="page-title">
        <div class="title-env">
            <h1 class="title">磁盘空间告警</h1>
            <p class="description">告警配置管理面板</p>
        </div>

        <div class="breadcrumb-env">

            <ol class="breadcrumb bc-1">
                <li>
                    <a href="@routes.Application.index"><i class="fa-home"></i>Home</a>
                </li>
                <li>
                    <a href="#">报警管理</a>
                </li>
                <li class="active">
                    <strong>磁盘空间报警</strong>
                </li>
            </ol>
        </div>
    </div>




 <div id="container1" style="margin:12px;
    display:-moz-inline-box;
    display:inline-block;
    width:31%;  height:300px;
     "></div>

 <div id="container2" style="margin:12px;
    display:-moz-inline-box;
    display:inline-block;
    width:31%;  height:300px;"
     ></div>

<div id="container3" style="margin:12px;
    display:-moz-inline-box;
    display:inline-block;
    width:31%;  height:300px;"></div>

<div id="container4" style="margin:12px;
display:-moz-inline-box;
display:inline-block;
width:31%;  height:300px;"></div>

<div id="container5" style="margin:12px;
    display:-moz-inline-box;
    display:inline-block;
    width:31%;  height:300px;"></div>


<div id="container6" style="margin:12px;
display:-moz-inline-box;
display:inline-block;
width:31%;  height:300px;"></div>

<div id="container7" style="margin:12px;
display:-moz-inline-box;
display:inline-block;
width:31%;  height:300px;"></div>


<div id="container8" style="margin:12px;
display:-moz-inline-box;
display:inline-block;
width:31%;  height:300px;"></div>









<div class="clearfix"> </div>
@copyright()

}

    <script>
                $(document).ready(function(){
                    $.ajax({
                        type:"GET",
                        url:"/whoiam",
                        dataType:"json",
                        success:function(data){
                            var myobj=eval(data);
                            var trackingSum=myobj.trackingSum;
                            $('#tracking').html(trackingSum);
                        }
                    });
                });
     </script>
    <script>
            //获取磁盘统计信息
             function diskInfo(){
                      var retVal = '';
                        $.ajax({
                            type:"GET",
                            url:"/alarmDiskInterface",
                            dataType:"json",
                            async:false,
                            success:function(data){
                                retVal = data;

                            }
                       });
                       return retVal;
               }

         var data = diskInfo();
     $(function () {
        Highcharts.chart('container1',{
          title: {
            text: '集群磁盘IO',
            x: -15 //center
        },
        subtitle: {
            text: 'Source: WorldClimate.com',
            x: -10
        },
        xAxis: {
            categories: ['data1', 'data2', 'data3', 'data4', 'data5', 'data6',
                         'data7', 'data8']
        },
        yAxis: {
            title: {
                text: 'String'
            },
            plotLines: [{
                value: 0,
                width: 1,
                color: '#808080'
            }]
        },
        tooltip: {
            valueSuffix: 'g'
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle',
            borderWidth: 0
        },
        series: [{
            name: 'master',
            data: [7.0, 6.9, 9.5, 14.5, 18.2, 21.5, 25.2, 26.5, 23.3, 18.3, 13.9, 9.6]
        }, {
            name: 'worker',
            data: [-0.2, 0.8, 5.7, 11.3, 17.0, 22.0, 24.8, 24.1, 20.1, 14.1, 8.6, 2.5]
        }, {
            name: 'driver',
            data: [-0.9, 0.6, 3.5, 8.4, 13.5, 17.0, 18.6, 17.9, 14.3, 9.0, 3.9, 1.0]
        }, {
            name: 'jvm',
            data: [3.9, 4.2, 5.7, 8.5, 11.9, 15.2, 17.0, 16.6, 14.2, 10.3, 6.6, 4.8]
        }]
    });
});

    </script>

<script>

    $(function () {
    $('#container2').highcharts({
        chart: {
            type: 'area'
        },
        title: {
            text: 'HDFS容量'
        },
        subtitle: {
            text: '使用的HDFS容量与非HDFS容量以及配置的容量'
        },
        xAxis: {
            allowDecimals: false,
            labels: {
                formatter: function () {
                    return this.value; // clean, unformatted number for year
                }
            }
        },
        yAxis: {
            title: {
                text: 'Nuclear weapon states'
            },
            labels: {
                formatter: function () {
                    return this.value / 1000 + 'k';
                }
            }
        },
        tooltip: {
            pointFormat: '{series.name} produced <b>{point.y:,.0f}</b><br/>warheads in {point.x}'
        },
        plotOptions: {
            area: {
                pointStart: 1940,
                marker: {
                    enabled: false,
                    symbol: 'circle',
                    radius: 2,
                    states: {
                        hover: {
                            enabled: true
                        }
                    }
                }
            }
        },
        series: [{
            name: '使用的HDFS',
            data: [
                   1005, 1436, 2063, 3057, 4618, 6444, 9822, 15468, 20434, 24126,
                   27387, 29459, 31056, 31982, 32040, 31233, 29224, 27342, 26662,
                   26956, 27912, 28999, 28965, 27826, 25579, 25722, 24826, 24605,
                   24304, 23464, 23708, 24099, 24357, 24237, 24401, 24344, 23586,
                   22380, 21004, 17287, 14747, 13076, 12555, 12144, 11009, 10950,
                   10871, 10824, 10577, 10527, 10475, 10421, 10358, 10295, 10104]
        }, {
            name: '使用的非HDFS',
            data: [
                   5, 25, 50, 120, 150, 200, 426, 660, 869, 1060, 1605, 2471, 3322,
                   4238, 5221, 6129, 7089, 8339, 9399, 10538, 11643, 13092, 14478,
                   15915, 17385, 19055, 21205, 23044, 25393, 27935, 30062, 32049,
                   33952, 35804, 37431, 39197, 45000, 43000, 41000, 39000, 37000,
                   35000, 33000, 31000, 29000, 27000, 25000, 24000, 23000, 22000,
                   21000, 20000, 19000, 18000, 18000, 17000, 16000]
        }]
    });
});

</script>

<script>
    $(function () {
    $('#container3').highcharts({
        chart: {
            type: 'spline'
        },
        title: {
            text: 'DataNode读写字节'
        },
        subtitle: {
            text: '各DataNode中的总的读写的字节'
        },
        xAxis: {
            type: 'datetime',
            labels: {
                overflow: 'justify'
            }
        },
        yAxis: {
            title: {
                text: 'byte / s'
            },
            min: 0,
            minorGridLineWidth: 0,
            gridLineWidth: 0,
            alternateGridColor: null
        },
        tooltip: {
            valueSuffix: ' m/s'
        },
        plotOptions: {
            spline: {
                lineWidth: 4,
                states: {
                    hover: {
                        lineWidth: 5
                    }
                },
                marker: {
                    enabled: false
                },
                pointInterval: 3600000, // one hour
                pointStart: Date.UTC(2009, 9, 6, 0, 0, 0)
            }
        },
        series: [{
            name: '读取的字节 b/s',
            data: [4.3, 5.1, 4.3, 5.2, 5.4, 4.7, 3.5, 4.1, 5.6, 7.4, 6.9, 7.1,
                   7.9, 7.9, 7.5, 6.7, 7.7, 7.7, 7.4, 7.0, 7.1, 5.8, 5.9, 7.4,
                   8.2, 8.5, 9.4, 8.1, 10.9, 10.4, 10.9, 12.4, 12.1, 9.5, 7.5,
                   7.1, 7.5, 8.1, 6.8, 3.4, 2.1, 1.9, 2.8, 2.9, 1.3, 4.4, 4.2,
                   3.0, 3.0]
        }, {
            name: '写入的字节 b/s',
            data: [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.1, 0.0, 0.3, 0.0,
                   0.0, 0.4, 0.0, 0.1, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
                   0.0, 0.6, 1.2, 1.7, 0.7, 2.9, 4.1, 2.6, 3.7, 3.9, 1.7, 2.3,
                   3.0, 3.3, 4.8, 5.0, 4.8, 5.0, 3.2, 2.0, 0.9, 0.4, 0.3, 0.5, 0.4]
        }],
        navigation: {
            menuItemStyle: {
                fontSize: '10px'
            }
        }
    });
});

</script>

<script>
    $(function () {
    $('#container4').highcharts({
        chart: {
            type: 'spline'
        },
        title: {
            text: 'DataNode读写块'
        },
        subtitle: {
            text: '各DataNode总的读写的块'
        },
        xAxis: {
            type: 'datetime',
            labels: {
                overflow: 'justify'
            }
        },
        yAxis: {
            title: {
                text: 'Wind speed (m/s)'
            },
            min: 0,
            minorGridLineWidth: 0,
            gridLineWidth: 0,
            alternateGridColor: null
        },
        tooltip: {
            valueSuffix: ' m/s'
        },
        plotOptions: {
            spline: {
                lineWidth: 4,
                states: {
                    hover: {
                        lineWidth: 5
                    }
                },
                marker: {
                    enabled: false
                },
                pointInterval: 3600000, // one hour
                pointStart: Date.UTC(2009, 9, 6, 0, 0, 0)
            }
        },
        series: [{
            name: 'Hestavollane',
            data: [4.3, 5.1, 4.3, 5.2, 5.4, 4.7, 3.5, 4.1, 5.6, 7.4, 6.9, 7.1,
                   7.9, 7.9, 7.5, 6.7, 7.7, 7.7, 7.4, 7.0, 7.1, 5.8, 5.9, 7.4,
                   8.2, 8.5, 9.4, 8.1, 10.9, 10.4, 10.9, 12.4, 12.1, 9.5, 7.5,
                   7.1, 7.5, 8.1, 6.8, 3.4, 2.1, 1.9, 2.8, 2.9, 1.3, 4.4, 4.2,
                   3.0, 3.0]
        }, {
            name: 'Voll',
            data: [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.1, 0.0, 0.3, 0.0,
                   0.0, 0.4, 0.0, 0.1, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
                   0.0, 0.6, 1.2, 1.7, 0.7, 2.9, 4.1, 2.6, 3.7, 3.9, 1.7, 2.3,
                   3.0, 3.3, 4.8, 5.0, 4.8, 5.0, 3.2, 2.0, 0.9, 0.4, 0.3, 0.5, 0.4]
        }],
        navigation: {
            menuItemStyle: {
                fontSize: '10px'
            }
        }
    });
});
</script>

<script>
    $(function () {
    $('#container5').highcharts({
        chart: {
            type: 'area'
        },
        title: {
            text: '运行状况'
        },
        subtitle: {
            text: '该实体花在各种运行状态上的时间百分比的视觉表示'
        },
        xAxis: {
            allowDecimals: false,
            labels: {
                formatter: function () {
                    return this.value; // clean, unformatted number for year
                }
            }
        },
        yAxis: {
            title: {
                text: 'Nuclear weapon states'
            },
            labels: {
                formatter: function () {
                    return this.value / 1000 + 'k';
                }
            }
        },
        tooltip: {
            pointFormat: '{series.name} produced <b>{point.y:,.0f}</b><br/>warheads in {point.x}'
        },
        plotOptions: {
            area: {
                pointStart: 1940,
                marker: {
                    enabled: false,
                    symbol: 'circle',
                    radius: 2,
                    states: {
                        hover: {
                            enabled: true
                        }
                    }
                }
            }
        },
        series: [{
            name: 'USA',
            data: [null, null, null, null, null, 6, 11, 32, 110, 235, 369, 640,
                   1005, 1436, 2063, 3057, 4618, 6444, 9822, 15468, 20434, 24126,
                   27387, 29459, 31056, 31982, 32040, 31233, 29224, 27342, 26662,
                   26956, 27912, 28999, 28965, 27826, 25579, 25722, 24826, 24605,
                   24304, 23464, 23708, 24099, 24357, 24237, 24401, 24344, 23586,
                   22380, 21004, 17287, 14747, 13076, 12555, 12144, 11009, 10950,
                   10871, 10824, 10577, 10527, 10475, 10421, 10358, 10295, 10104]
        }, {
            name: 'USSR/Russia',
            data: [null, null, null, null, null, null, null, null, null, null,
                   5, 25, 50, 120, 150, 200, 426, 660, 869, 1060, 1605, 2471, 3322,
                   4238, 5221, 6129, 7089, 8339, 9399, 10538, 11643, 13092, 14478,
                   15915, 17385, 19055, 21205, 23044, 25393, 27935, 30062, 32049,
                   33952, 35804, 37431, 39197, 45000, 43000, 41000, 39000, 37000,
                   35000, 33000, 31000, 29000, 27000, 25000, 24000, 23000, 22000,
                   21000, 20000, 19000, 18000, 18000, 17000, 16000]
        }]
    });
});
</script>

<script>
    $(function () {
    $('#container6').highcharts({
        chart: {
            type: 'spline'
        },
        title: {
            text: 'DataNode 磁盘刷新'
        },
        subtitle: {
            text: '整个DataNode 磁盘中的磁盘刷新'
        },
        xAxis: {
            type: 'datetime',
            labels: {
                overflow: 'justify'
            }
        },
        yAxis: {
            title: {
                text: 'Wind speed (m/s)'
            },
            min: 0,
            minorGridLineWidth: 0,
            gridLineWidth: 0,
            alternateGridColor: null
        },
        tooltip: {
            valueSuffix: ' m/s'
        },
        plotOptions: {
            spline: {
                lineWidth: 4,
                states: {
                    hover: {
                        lineWidth: 5
                    }
                },
                marker: {
                    enabled: false
                },
                pointInterval: 3600000, // one hour
                pointStart: Date.UTC(2009, 9, 6, 0, 0, 0)
            }
        },
        series: [{
            name: 'Hestavollane',
            data: [4.3, 5.1, 4.3, 5.2, 5.4, 4.7, 3.5, 4.1, 5.6, 7.4, 6.9, 7.1,
                   7.9, 7.9, 7.5, 6.7, 7.7, 7.7, 7.4, 7.0, 7.1, 5.8, 5.9, 7.4,
                   8.2, 8.5, 9.4, 8.1, 10.9, 10.4, 10.9, 12.4, 12.1, 9.5, 7.5,
                   7.1, 7.5, 8.1, 6.8, 3.4, 2.1, 1.9, 2.8, 2.9, 1.3, 4.4, 4.2,
                   3.0, 3.0]
        }, {
            name: 'Voll',
            data: [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.1, 0.0, 0.3, 0.0,
                   0.0, 0.4, 0.0, 0.1, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
                   0.0, 0.6, 1.2, 1.7, 0.7, 2.9, 4.1, 2.6, 3.7, 3.9, 1.7, 2.3,
                   3.0, 3.3, 4.8, 5.0, 4.8, 5.0, 3.2, 2.0, 0.9, 0.4, 0.3, 0.5, 0.4]
        }],
        navigation: {
            menuItemStyle: {
                fontSize: '10px'
            }
        }
    });
});

</script>


<script>
    $(function () {
    $('#container7').highcharts({
        chart: {
            type: 'spline'
        },
        title: {
            text: 'DataNode 写入块'
        },
        subtitle: {
            text: '整个DataNode中的已写入块'
        },
        xAxis: {
            type: 'datetime',
            labels: {
                overflow: 'justify'
            }
        },
        yAxis: {
            title: {
                text: 'Wind speed (m/s)'
            },
            min: 0,
            minorGridLineWidth: 0,
            gridLineWidth: 0,
            alternateGridColor: null
        },
        tooltip: {
            valueSuffix: ' m/s'
        },
        plotOptions: {
            spline: {
                lineWidth: 4,
                states: {
                    hover: {
                        lineWidth: 5
                    }
                },
                marker: {
                    enabled: false
                },
                pointInterval: 3600000, // one hour
                pointStart: Date.UTC(2009, 9, 6, 0, 0, 0)
            }
        },
        series: [{
            name: 'Hestavollane',
            data: [4.3, 5.1, 4.3, 5.2, 5.4, 4.7, 3.5, 4.1, 5.6, 7.4, 6.9, 7.1,
                   7.9, 7.9, 7.5, 6.7, 7.7, 7.7, 7.4, 7.0, 7.1, 5.8, 5.9, 7.4,
                   8.2, 8.5, 9.4, 8.1, 10.9, 10.4, 10.9, 12.4, 12.1, 9.5, 7.5,
                   7.1, 7.5, 8.1, 6.8, 3.4, 2.1, 1.9, 2.8, 2.9, 1.3, 4.4, 4.2,
                   3.0, 3.0]
        }, {
            name: 'Voll',
            data: [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.1, 0.0, 0.3, 0.0,
                   0.0, 0.4, 0.0, 0.1, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
                   0.0, 0.6, 1.2, 1.7, 0.7, 2.9, 4.1, 2.6, 3.7, 3.9, 1.7, 2.3,
                   3.0, 3.3, 4.8, 5.0, 4.8, 5.0, 3.2, 2.0, 0.9, 0.4, 0.3, 0.5, 0.4]
        }],
        navigation: {
            menuItemStyle: {
                fontSize: '10px'
            }
        }
    });
});

</script>



<script>
        $(function () {
    $('#container8').highcharts({
        chart: {
            type: 'spline'
        },
        title: {
            text: 'DataNode 读取块'
        },
        subtitle: {
            text: '整个DataNode中的已读取块'
        },
        xAxis: {
            type: 'datetime',
            labels: {
                overflow: 'justify'
            }
        },
        yAxis: {
            title: {
                text: 'Wind speed (m/s)'
            },
            min: 0,
            minorGridLineWidth: 0,
            gridLineWidth: 0,
            alternateGridColor: null
        },
        tooltip: {
            valueSuffix: ' m/s'
        },
        plotOptions: {
            spline: {
                lineWidth: 4,
                states: {
                    hover: {
                        lineWidth: 5
                    }
                },
                marker: {
                    enabled: false
                },
                pointInterval: 3600000, // one hour
                pointStart: Date.UTC(2009, 9, 6, 0, 0, 0)
            }
        },
        series: [{
            name: 'Hestavollane',
            data: [4.3, 5.1, 4.3, 5.2, 5.4, 4.7, 3.5, 4.1, 5.6, 7.4, 6.9, 7.1,
                   7.9, 7.9, 7.5, 6.7, 7.7, 7.7, 7.4, 7.0, 7.1, 5.8, 5.9, 7.4,
                   8.2, 8.5, 9.4, 8.1, 10.9, 10.4, 10.9, 12.4, 12.1, 9.5, 7.5,
                   7.1, 7.5, 8.1, 6.8, 3.4, 2.1, 1.9, 2.8, 2.9, 1.3, 4.4, 4.2,
                   3.0, 3.0]
        }],
        navigation: {
            menuItemStyle: {
                fontSize: '10px'
            }
        }
    });
});


</script>










