@(jobId:String)
@main("Neptun Dashboard"){
    <div class="graphs">
        <ul id="logs">
            <p><li ><font color="#00CD00">提交成功!</font></li><li>
            <font color="#00CD00">任务ID :<font color="red">@jobId</font>   </font></li></p>
        </ul>
    </div>


<div id="testScroll2" style="width:100%; height: 500px; overflow-y: scroll;float: left;"></div>

<script charset="utf-8">

     var $end = $('<li><font color="#0000">'+ "执行结束!" + '</font></li>');
    var $logs = $('#logs');
     var index =0
       var timeBox =setInterval(
            function () {
              $(document).ready(function(){
               var id="@jobId"+"_"+index
                $.ajax({
                    type:"GET",
                    url:"/logs",
                    data: {id: id},
                    dataType:"text",
                    success:function(data){
                        var $el;
                        if(data.indexOf('Exception')==0 || data.indexOf('at')==1){
                            $el = $('<li><font color="#FF0000">'+ data + '</font></li>');
                        }
                        else{
                             $el = $('<li><font color="#000000">'+ data + '</font></li>');
                        }
                       if(data!= "none" && data!='finish'){
                         $("#testScroll2").append($el)
                         $("#testScroll2").scrollTop($("#testScroll2")[0].scrollHeight);
                           index++
                       }

                       if(data=='finish'){
                            $("#testScroll2").append($end)
                            $("#testScroll2").scrollTop($("#testScroll2")[0].scrollHeight);
                             clearInterval(timeBox);
                       }
                    },
                           error: function(e) {
                               clearInterval(timeBox);
                        },
                   complete: function (XHR, TS) { XHR = null }

                });
           });
         },
            50
    )

  </script>
    @copyright

}

