@sidebar = {
    <div class="sidebar-menu toggle-others fixed">

        <div class="sidebar-menu-inner">

            <header class="logo-env">

                    <!-- logo -->
                <div class="logo">
                    <a href="@routes.Application.index" class="logo-expanded">
                        <img src="@routes.Assets.at("images/neptune.png")" width="90" alt="" />
                    </a>

                    <a href="@routes.Application.index" class="logo-collapsed">
                        <img src="@routes.Assets.at("images/favicon.png")" width="40" alt="" />
                    </a>
                </div>

                    <!-- This will toggle the mobile menu and will be visible only on mobile devices -->
                <div class="mobile-menu-toggle visible-xs">
                    <a href="#" data-toggle="user-info-menu">
                        <i class="fa-bell-o"></i>
                        <span class="badge badge-success">7</span>
                    </a>

                    <a href="#" data-toggle="mobile-menu">
                        <i class="fa-bars"></i>
                    </a>
                </div>

                    <!-- This will open the popup with user profile settings, you can use for any purpose, just be creative -->
                <div class="settings-icon">
                    <a href="#" data-toggle="settings-pane" data-animate="true">
                        <i class="fa fa-cog fa-4x"></i>
                    </a>
                </div>

            </header>



            <ul id="main-menu" class="main-menu">
                    <!-- add class "multiple-expanded" to allow multiple submenus to open -->
                    <!-- class "auto-inherit-active-class" will automatically add "active" class for parent elements who are marked already with class "active" -->
                <li class="active">
                    <a href="@routes.Application.index">
                        <i class="fa fa-dashboard fa-fw"></i>
                        <span class="title">仪表盘</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-check-square-o"></i>
                        <span class="title">数据应用面板</span>
                    </a>
                    <ul>
                        <li>
                            <a href="@routes.SparkJar.executejarpage">
                                <span class="title">SPARK-JAR应用</span>
                            </a>
                        </li>
                        <li>
                            <a href="@routes.SparkSql.sqlpage">
                                <span class="title">SPARK-SQL应用</span>
                            </a>
                        </li>
                        <li>
                            <a href="@routes.SparkStream.stream">
                                <span class="title">SPARK-STREAM基于HDFS的应用</span>
                            </a>
                        </li>
                        <li>
                            <a href="@routes.SparkStream.stream">
                                <span class="title">SPARK-STREAM基于KAFKA的应用</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-table"></i>
                        <span class="title">APP数据</span>
                    </a>
                    <ul>
                        <li>
                            <a href="@routes.YarnList.yarnlist">
                                <span class="title">Yarn数据列表</span>
                            </a>
                        </li>
                        <li>
                            <a href="@routes.YarnList.sparklist">
                                <span class="title">Spark数据列表</span>
                            </a>
                        </li>
                        <li>
                            <a href="@routes.YarnList.workerInfo">
                                <span class="title">Spark Worker信息</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-anchor"></i>
                        <span class="title">任务调度</span>
                    </a>
                    <ul>
                        <li>
                            <a href="@routes.Yarn.yarnDispatch">
                                <span class="title">Oozie任务调度</span>
                            </a>
                        </li>
                        <li>
                            <a href="@routes.Yarn.yarnDispatch">
                                <span class="title">Spark任务调度</span>
                            </a>
                        </li>
                        <li>
                            <a href="@routes.Yarn.yarnDispatch">
                                <span class="title">Yarn任务调度</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-bell"></i>
                        <span class="title">App Tracking</span>
                        <span class="label label-success pull-right">50</span>
                    </a>
                    <ul>
                        <li>
                            <a href="@routes.RunTask.runTask">
                                <span class="title">Spark Stream 运行任务列表</span>
                            </a>
                        </li>
                        <li>
                            <a href="@routes.MonitorController.jobs">
                                <span class="title">Spark Sql任务列表</span>
                            </a>
                        </li>
                        <li>
                            <a href="@routes.RunTask.runTaskLogs">
                                <span class="title">Spark 运行任务日志</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-wrench"></i>
                        <span class="title">报警管理</span>
                        <span class="label label-success pull-right">5</span>
                    </a>
                    <ul>
                        <li>
                            <a href="@routes.AlarmDisk.alarmDisk">
                                <span class="title">磁盘空间报警</span>
                            </a>
                        </li>
                        <li>
                            <a href="@routes.AlarmDisk.alarmDisk">
                                <span class="title">内存相关报警</span>
                            </a>
                        </li>
                        <li>
                            <a href="@routes.AlarmDisk.alarmDisk">
                                <span class="title">其他报警</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-users"></i>
                        <span class="title">用户管理</span>
                    </a>
                    <ul>
                        <li>
                            <a href="@routes.Usertally.usertatol">
                                <span class="title">用户统计</span>
                            </a>
                        </li>
                        <li>
                            <a href="@routes.UserManager.userlist">
                                <span class="title">用户管理</span>
                            </a>
                        </li>
                        <li>
                            <a href="@routes.Usertally.usertatol">
                                <span class="title">权限分配</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-arrows-alt"></i>
                        <span class="title">节点分布情况</span>
                    </a>
                    <ul>
                        <li>
                            <a href="@routes.Serviceplan.servicedao">
                                <span class="title">服务划分</span>
                            </a>
                        </li>
                        <li>
                            <a href="@routes.Serviceplan.graph">
                                <span class="title">Graph展示</span>
                            </a>
                        </li>
                        <li>
                            <a href="@routes.Serviceplan.functionplan">
                                <span class="title">功能划分</span>
                            </a>
                        </li>
                        <li>
                            <a href="@routes.MetaDataManager.metadata">
                                <span class="title">集群管理</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>

        </div>

    </div>
}

@main("Neptun Dashboard")(sidebar) {

    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/sweetalert.css")" type="text/css"/>
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/google.css")" type="text/css"/>

    <script src="@routes.Assets.at("javascripts/globalize.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/dx.chartjs.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/sweetalert.min.js")" type="text/javascript"></script>
    <script charset="utf-8">
            $(document).ready(function(){
                $.ajax({
                    type:"GET",
                    url:"/yarnInfo",
                    dataType:"json",
                    success:function(data){
                        var myobj=eval(data);
                        var app=myobj.apps.app;
                        for(var i=0;i<app.length;i++){
                            var finalStatus = app[i].finalStatus;
                            if (finalStatus == 'SUCCEEDED'){
                                //console.log(app[i]);
                                var str = "<tr class='active'><td><a href='http://h136159.mars.grid.sina.com.cn:8088/proxy/"+app[i].id+"' target='_blank'>"+app[i].id+"</a></td><td>"+app[i].user+"</td><td>"+app[i].queue+"</td><td>"+app[i].finalStatus+"</td><td>"+app[i].progress+"</td><td>"+new Date(app[i].startedTime).toLocaleString()+"</td><td>"+new Date(app[i].finishedTime).toLocaleString()+"</td><tr>"
                                $('#yarn_table tbody').append(str);
                            }
                        }
                    }
                });
                show_work();
                getUserInfo();
                task_count();
                cluster_info();
            });
            //work list准实时展示
            function show_work(){
                $('#work_table tbody').html("");
                $.ajax({
                    type:"GET",
                    url:"/workerlist",
                    dataType:"json",
                    success:function(data){
                        var myobj=eval(data);
                        var url = myobj.url;
                        var status = myobj.status;
                        var workers=myobj.workers;
                        for(var i=0;i<workers.length;i++){
                            var str = "<tr class='info'><td>"+workers[i].id+"</a></td><td>"+workers[i].host+"</td><td>"+workers[i].cores+"</td><td>"+workers[i].coresused+"</td><td>"+workers[i].memory+"</td><td>"+workers[i].memoryused+"</td><td>"+workers[i].state+"</td><td>"+new Date(workers[i].lastheartbeat).toLocaleString()+"</td><tr>"
                            $('#work_table tbody').append(str);
                        }
                    }
                });
            }
            //setInterval(show_work,5000);
            //计算任务个数

            //获取用户权限
           function getUserInfo(){
            var retVal = '';
                    $.ajax({
                        type:"GET",
                        url:"/whoiam",
                        dataType:"json",
                        async:false,
                        success:function(data){
                            console.log(data);
                            retVal=data;
                        }
                    });
                    return retVal;
                }

             function task_count(){
                var data = getUserInfo();
                var userInfo = eval(data);
                var queueName = userInfo.queueName;
                  $.ajax({
                    type:"GET",
                    url:"/yarnInfo",
                    dataType:"json",
                    success:function(data){
                        var myobj=eval(data);
                        var app=myobj.apps.app;
                        var succ_task = 0;
                        var run_task = 0;
                        var fail_task = 0;
                        var plain_task =0;
                        if(queueName == ""){
                            for(var i=0;i<app.length;i++){
                                var finalStatus = app[i].finalStatus;
                                var state = app[i].state
                                //计算完成的
                                if(finalStatus == 'SUCCEEDED'){
                                    succ_task += 1;
                                }
                                if(state == 'RUNNING'){
                                    run_task += 1;
                                }
                                if(finalStatus == 'FAILED'){
                                    fail_task += 1;
                                }
                                if(state == 'ACCEPTED'){
                                    plain_task += 1;
                                }
                              }
                        }
                        if(queueName != ""){
                            for(var i=0;i<app.length;i++){
                                var finalStatus = app[i].finalStatus;
                                var queue = app[i].queue;
                                var state = app[i].state;
                                //计算完成的
                                if(finalStatus == 'SUCCEEDED' && queue == queueName){
                                    succ_task += 1;
                                }
                                if(state == 'RUNNING' && queue == queueName){
                                    run_task += 1;
                                }
                                if(finalStatus == 'FAILED' && queue == queueName){
                                    fail_task += 1;
                                }
                                if(state == 'ACCEPTED' && finalStatus.queue == queueName){
                                    plain_task += 1;
                                }
                              }
                        }


                        $('#run').html(run_task);
                        $('#succ').html(succ_task);
                        $('#fail').html(fail_task);
                        $('#plain').html(plain_task);
                    }
                });

            }

    </script>

        <script type="text/javascript">
                                <!--已使用内存统计-->
                               function memory_count(){
                               var data = group_resource();
                                var rate = eval(data);
                                var rateMemory = rate.rateData.rateMemory;
                                var rateMemory = 0
                                $("#userdRateMemory").attr("data-to", rateMemory);
                                };
                               memory_count();
                               setInterval('memory_count()',5000);

                                 <!--yarn资源计算   -->
                                function group_resource(){
                                        var retVal = '';
                                        $.ajax({
                                        type:"GET",
                                        url:"/userResource",
                                        dataType:"json",
                                        async:false,
                                        success:function(data){
                                            retVal=data;
                                        }
                                    });
                                    return retVal;
                                }
                                var data = group_resource();
                                var rate = eval(data);
                                var rateData = rate.rateData.resourceRate;

                            jQuery(document).ready(function($)
                            {
                                var gauge = $('#gauge-3').dxCircularGauge({
                                    scale: {
                                        startValue: 0,
                                        endValue: 120,
                                        majorTick: {
                                            tickInterval: 10
                                        },
                                        label: {
                                            customizeText: function (arg) {
                                                return arg.valueText + ' %';
                                            }
                                        }
                                    },
                                    rangeContainer: {
                                        ranges: [
                                            { startValue: 0, endValue: 40, color: '#90ee7e' },
                                            { startValue: 40, endValue: 80, color: '#FF7F24' },
                                            { startValue: 80, endValue: 100, color: '#f45b5b' }
                                        ]
                                    },
                                    title: {
                                        text: '本组使用yarn资源占比',
                                        font: { size: 20}
                                    },
                                    tooltip: {
                                        enabled: true,
                                        format: {
                                            type: 'present',
                                            precision: 2
                                        }
                                    },
                                    value: rateData
                                }).dxCircularGauge('instance');




                                //内存占比显示
                                var doughnut2_data_source = [
                                    { id: 0, x1: 0 },
                                    { id: 1, x1: 2 },
                                    { id: 2, x1: 3 },
                                    { id: 3, x1: 5 },
                                    { id: 4, x1: 7 },
                                    { id: 5, x1: 3 },
                                    { id: 6, x1: 1 },
                                    { id: 7, x1: 2 },
                                    { id: 8, x1: 5 },
                                    { id: 9, x1: 4 },
                                ];

                                $("#area-2").dxChart({
                                    dataSource: doughnut2_data_source,
                                    commonSeriesSettings: {
                                        type: "area",
                                        argumentField: "id"
                                    },
                                    series: [
                                        { valueField: "x1", name: "15-64 years", color: '#7c38bc', opacity: .7 },
                                    ],
                                    argumentAxis:{
                                        valueMarginsEnabled: false
                                    },
                                    valueAxis:{
                                        label: {
                                            format: "millions"
                                        }
                                    },
                                    legend: {
                                        verticalAlignment: "bottom",
                                        horizontalAlignment: "center"
                                    },
                                    legend: {
                                        visible: false
                                    },
                                    commonAxisSettings: {
                                        label: {
                                            visible: false
                                        },
                                        grid: {
                                            visible: false
                                        }
                                    },
                                    margin: {
                                        bottom: 0,
                                        top: 30
                                    }
                                });

                            });
                    </script>


<script>

            //spark集群运行情况
            function cluster_info(){
                $.ajax({
                    type:"GET",
                    url:"/spark_info",
                    dataType:"json",
                    success:function(data){
                        var sparkinfo = eval(data);
                        var alive_worker = sparkinfo.alive_workers;
                        var alive_workers = alive_worker +" "+"Workers"
                        var cores = sparkinfo.cores;
                        var memory = sparkinfo.memory;
                        //var applications = sparkinfo.applications;
                        var drivers = sparkinfo.drivers;
                        //var status = sparkinfo.status;

                        var total_c = cores.split(",")[0];
                        var used_c = cores.split(",")[1].replace(" Used","");

                        var total_m = memory.split(",")[0];
                        var used_m = memory.split(",")[1].replace(" GB Used","");

                        var driver_run = drivers.split(",")[0].replace(" Running","");
                        var driver_all = drivers.split(",")[1];

                        $('#alive_workers').html(alive_workers.replace(" Workers",""));

                        $('#total_c').html(total_c);
                        $('#used_c').html(used_c);

                        $('#total_m').html(total_m);
                        $('#used_m').html(used_m);

                        //$('#applications').html(applications);

                        $('#driver_run').html(driver_run);
                        $('#driver_all').html(driver_all);

                        //$('#status').html(status);


                    }
                });

            }


    </script>

    <script type="text/javascript">
                        //Spark standlone资源计算
                                function spark_resource(){
                                        var retVal = '';
                                        $.ajax({
                                        type:"GET",
                                        url:"/userResourceSpark",
                                        dataType:"json",
                                        async:false,
                                        success:function(data){
                                            retVal=data;
                                        }
                                    });
                                    return retVal;
                                 }

                                var data = spark_resource();
                                var rate = eval(data);
                                var rateDataSpark = rate.rateSpark;

                          jQuery(document).ready(function($)
                            {
                                var gauge = $('#sparkStandlone').dxCircularGauge({
                                    scale: {
                                        startValue: 0,
                                        endValue: 100,
                                        majorTick: {
                                            tickInterval: 10
                                        },
                                        label: {
                                            customizeText: function (arg) {
                                                return arg.valueText + ' %';
                                            }
                                        }
                                    },
                                    rangeContainer: {
                                        ranges: [
                                            { startValue: 0, endValue: 40, color: '#4DFFFF' },
                                            { startValue: 40, endValue: 60, color: '#46A3FF' },
                                            { startValue: 60, endValue: 80, color: '#FF8040' },
                                            { startValue: 80, endValue: 100, color: '#BB3D00' }
                                        ]
                                    },
                                    title: {
                                        text: '本组使用Spark资源占比',
                                        font: { size: 20}
                                    },
                                    tooltip: {
                                        enabled: true,
                                        format: {
                                            type: 'present',
                                            precision: 2
                                        }
                                    },
                                    value: rateDataSpark
                                }).dxCircularGauge('instance');
                            });



    </script>
    <div class="row">

        <div class="col-sm-3">

            <div class="xe-widget xe-counter">
                <div class="xe-icon">
                    <i class="fa fa-train fa-2x"></i>
                </div>
                <div class="xe-label">
                    <strong class="num" id="run">0</strong>
                    <span>运行中</span>
                </div>
            </div>

        </div>

        <div class="col-sm-3">

            <div class="xe-widget xe-counter xe-counter-blue">
                <div class="xe-icon">
                    <i class="fa fa-check fa-2x"></i>
                </div>
                <div class="xe-label">
                    <strong class="num" id="succ">0</strong>
                    <span>成功执行</span>
                </div>
            </div>

        </div>

        <div class="col-sm-3">

            <div class="xe-widget xe-counter xe-counter-info">
                <div class="xe-icon">
                    <i class="fa-times fa-2x"></i>
                </div>
                <div class="xe-label">
                    <strong class="num" id="fail">0</strong>
                    <span>失败</span>
                </div>
            </div>

        </div>

        <div class="col-sm-3">

            <div class="xe-widget xe-counter xe-counter-red">
                <div class="xe-icon">
                    <i class="fa fa-plane fa-2x"></i>
                </div>
                <div class="xe-label">
                    <strong class="num" id="plain">0</strong>
                    <span>计划任务</span>
                </div>
            </div>

        </div>

        <div class="col-sm-3">

            <div class="xe-widget xe-counter-block" >
                <div class="xe-upper">

                    <div class="xe-icon">
                        <i class="fa fa-heartbeat fa-2x"></i>
                    </div>
                    <div class="xe-label">
                        <strong class="num" id="alive_workers"></strong>
                        <span>Alive Worker</span>
                    </div>

                </div>
                <div class="xe-lower">
                    <div class="border"></div>

                    <span>Total Nodes</span>
                    <strong>9 Total</strong>
                </div>
            </div>

        </div>

        <div class="col-sm-3">

            <div class="xe-widget xe-counter-block xe-counter-block-purple" >
                <div class="xe-upper">

                    <div class="xe-icon">
                        <i class="fa fa-puzzle-piece fa-2x"></i>
                    </div>
                    <div class="xe-label">
                        <strong class="num" id="used_c">0</strong>
                        <span>Used Cores</span>
                    </div>

                </div>
                <div class="xe-lower">
                    <div class="border"></div>

                    <span>Total Cores</span>
                    <strong id="total_c">0</strong>
                </div>
            </div>

        </div>

        <div class="col-sm-3">

            <div class="xe-widget xe-counter-block xe-counter-block-red" >
                <div class="xe-upper">

                    <div class="xe-icon">
                        <i class="fa fa-building fa-2x"></i>
                    </div>
                    <div class="xe-label">
                        <strong class="num" id="used_m">0</strong>
                        <span>Spark Mem</span>
                    </div>

                </div>
                <div class="xe-lower">
                    <div class="border"></div>

                    <span>Total Mem</span>
                    <strong id="total_m">0</strong>
                </div>
            </div>

        </div>

        <div class="col-sm-3">

            <div class="xe-widget xe-counter-block xe-counter-block-pink" >
                <div class="xe-upper">

                    <div class="xe-icon">
                        <i class="fa fa-info fa-2x"></i>
                    </div>
                    <div class="xe-label">
                        <strong class="num" id="driver_run">0</strong>
                        <span>Drivers Info</span>
                    </div>

                </div>
                <div class="xe-lower">
                    <div class="border"></div>

                    <span>Total Mem</span>
                    <strong id="driver_all">0</strong>
                </div>
            </div>

        </div>

        <div class="clearfix"></div>

        <div class="panel panel-body">

            <div class="row">
                <div class="col-sm-6">
                    <div id="gauge-3" style="height: 440px ; margin: 0 30px ;"></div>
                </div>
                <div class="col-sm-6">
                    <div id="sparkStandlone" style="height: 440px ; margin: 0 30px ;"></div>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">

                <div class="chart-item-bg-2">
                    <div class="chart-item-num num-sm" style="width: 370px ;"
                         data-count="this" data-from="0"
                         data-to="20.89"
                         data-suffix="%" data-duration="3" id ="userdRateMemory">0%</div>
                    <div class="chart-item-env no-padding">
                        <div id="area-2" style="height: 150px ; margin: 0"></div>
                    </div>
                </div>
            </div>
        </div>


    </div>
    @* <script>

    $(document).ready(function () {
    var data=[
    {role:"Spark",
    nums:6
    },
    {role:"Hadoop",
    nums:5
    },
    {role:"Hbase",
    nums:3
    },
    {role:"Hive",
    nums:1
    },
    {roles:"Mysql",
    num:1
    }
    ];

    $("#chart_container").dxPieChart({
    dataSource: data,
    series: [
    {
    argumentField: "role",
    valueField: "nums",
    label: {
    visible: true,
    connector: {
    visible: true,
    width: 1,
    verticalAlignment:"bottom"
    },
    }
    }
    ],
    title: "Area of Countries",
    onPointClick: function (e) {
    var point = e.target;

    toggleVisibility(point);
    },
    onLegendClick: function (e) {
    var arg = e.target;

    toggleVisibility(this.getAllSeries()[0].getPointsByArg(arg)[0]);
    }
    });

    function toggleVisibility(item) {
    item.isVisible() ? item.hide() : item.show();
    }

    });
    </script>*@

@*
    修订日志:v3.0.2(2016.08.19)
        修改编辑用户与注册审核对话框
    添加注册审核发送邮件功能
    添加个人中心下的任务列表页面
    提交jar页面新增yarn,standalone，local选择
    添加查看任务，杀死任务，重试任务功能
    添加用户组、组员统计功能
    添加Yarn资源调度参数列表
    修正服务划分图标
    本组资源占比计算以及展示*@

@*
    修订日志:v3.0.3(2016.08.24)
        添加任务kill,rerun功能
    添加执行任务交互
    添加个人任务展示
    修正表格样式&部分UI调整
    dashboard页面添加本组资源占比
    添加本组内存使用占比
    添加Yarn资源调度参数列表
    添加组用户组yarn任务列表*@

@*
    修订日志:v3.0.4(2016.09.02)
    添加WebSocket任务消息推送
    调整任务状态标签样式
    添加超级用户组(SuperAdmin)权限
    添加根据不同用户组权限显示资源占比
    修正yarn接口数据传输格式
    修正表格样式&部分UI调整
    *@


    <script>
            window.onload=function(){
                swal({
                    title: "修订日志:v3.0.4(2016.09.02)",
                    text: "<div style='text-align:left;font-size:15px;line-height:40px'>" +
                    "<span class='fa-circle'>&nbsp;<i style='color:#ff3333'>添加WebSocket任务消息推送</i></sapn><br><br>" +
                    "<span class='fa-circle'>&nbsp;<i style='color:#ff3333'>调整任务状态标签样式</i></span><br><br>" +
                    "<span class='fa-circle'>&nbsp;<i style='color:#ff3333'>添加超级用户组(SuperAdmin)权限</i></sapn><br><br>" +
                    "<span class='fa-circle'>&nbsp;添加根据不同用户组权限显示资源占比</sapn><br><br>" +
                    "<span class='fa-circle'>&nbsp;修正yarn接口数据传输格式</sapn><br><br>" +
                    "<span class='fa-circle'>&nbsp;修正表格样式&部分UI调整</sapn><br><br>" +
                    "</div>",
                    timer: 8000,
                    html:true,
                    showConfirmButton: true
                });
            }
    </script>
    <div class="clearfix"></div>
    @copyright()

}
