@(jobInfo:JobInfo)
@sidebar = {
<div class="sidebar-menu toggle-others collapsed">

    <div class="sidebar-menu-inner">

        <header class="logo-env">

            <!-- logo -->
            <div class="logo">
                <a href="@routes.Application.index" class="logo-expanded">
                    <img src="@routes.Assets.at("images/neptune.png")" width="90" alt="" />
                </a>

                <a href="@routes.Application.index" class="logo-collapsed">
                    <img src="@routes.Assets.at("images/favicon.png")" width="40" alt="" />
                </a>
            </div>

            <!-- This will toggle the mobile menu and will be visible only on mobile devices -->
            <div class="mobile-menu-toggle visible-xs">
                <a href="#" data-toggle="user-info-menu">
                    <i class="fa-bell-o"></i>
                    <span class="badge badge-success">7</span>
                </a>

                <a href="#" data-toggle="mobile-menu">
                    <i class="fa-bars"></i>
                </a>
            </div>

            <!-- This will open the popup with user profile settings, you can use for any purpose, just be creative -->
            <div class="settings-icon">
                <a href="#" data-toggle="settings-pane" data-animate="true">
                    <i class="fa fa-cog fa-4x"></i>
                </a>
            </div>

        </header>


        <ul id="main-menu" class="main-menu">
            <!-- add class "multiple-expanded" to allow multiple submenus to open -->
            <!-- class "auto-inherit-active-class" will automatically add "active" class for parent elements who are marked already with class "active" -->
            <li>
                <a href="@routes.Application.index">
                    <i class="fa fa-dashboard fa-fw"></i>
                    <span class="title">仪表盘</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-free-code-camp"></i>
                    <span class="title">数据应用面板</span>
                </a>
                <ul>
                    <li class="active">
                        <a href="@routes.SparkJar.executejarpage">
                            <span class="title">SPARK-JAR应用</span>
                        </a>
                    </li>
                    <li>
                        <a href="@routes.SparkSql.sqlpage">
                            <span class="title">SPARK-SQL应用</span>
                        </a>
                    </li>
                    <li>
                        <a href="@routes.SparkStream.stream">
                            <span class="title">SPARK-STREAM应用</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-table"></i>
                    <span class="title">APP数据</span>
                </a>
                <ul>
                    <li>
                        <a href="@routes.YarnList.yarnlist">
                            <span class="title">Yarn数据列表</span>
                        </a>
                    </li>
                    <li>
                        <a href="@routes.YarnList.sparklist">
                            <span class="title">Spark数据列表</span>
                        </a>
                    </li>

                </ul>
            </li>
            <li class="opened active">
                <a href="#">
                    <i class="fa fa-anchor"></i>
                    <span class="title">任务调度</span>
                </a>
                <ul>
                    <li>
                        <a href="@routes.WorkFlows.workflows">
                            <span class="title">工作流调度列表</span>
                        </a>
                    </li>
                    <li class="active">
                        <a href="@routes.WorkFlowsEditors.editorsList">
                            <span class="title">工作流编辑器</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-tasks"></i>
                    <span class="title">App Tracking</span>
                    <span class="label label-success pull-right" id="tracking">50</span>
                </a>
                <ul>
                    <li>
                        <a href="@routes.RunTask.runTask">
                            <span class="title">Spark Stream 运行任务列表</span>
                        </a>
                    </li>
                    <li>
                        <a href="@routes.MonitorController.jobs">
                            <span class="title">Spark Sql任务列表</span>
                        </a>
                    </li>
                    <li>
                        <a href="@routes.RunTask.runTaskLogs">
                            <span class="title">Spark 运行任务日志</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-wrench"></i>
                    <span class="title">报警管理</span>
                    <span class="label label-success pull-right">5</span>
                </a>
                <ul>
                    <li>
                        <a href="@routes.AlarmDisk.alarmDisk">
                            <span class="title">磁盘空间报警</span>
                        </a>
                    </li>
                    <li>
                        <a href="@routes.AlarmDisk.alarmDisk">
                            <span class="title">内存相关报警</span>
                        </a>
                    </li>
                    <li>
                        <a href="@routes.AlarmDisk.alarmDisk">
                            <span class="title">其他报警</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-users"></i>
                    <span class="title">用户管理</span>
                </a>
                <ul>
                    <li>
                        <a href="@routes.Usertally.usertatol">
                            <span class="title">用户统计</span>
                        </a>
                    </li>
                    <li>
                        <a href="@routes.UserManager.userlist">
                            <span class="title">用户管理</span>
                        </a>
                    </li>
                    <li>
                        <a href="@routes.Usertally.usertatol">
                            <span class="title">权限分配</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-arrows-alt"></i>
                    <span class="title">节点分布情况</span>
                </a>
                <ul>
                    <li>
                        <a href="@routes.YarnList.workerInfo">
                            <span class="title">Spark Worker信息</span>
                        </a>
                    </li>
                    <li>
                        <a href="@routes.Serviceplan.functionplan">
                            <span class="title">功能划分</span>
                        </a>
                    </li>
                    <li>
                        <a href="@routes.MetaDataManager.metadata">
                            <span class="title">集群管理</span>
                        </a>
                    </li>
                    <li>
                        <a href="@routes.HbaseOptions.findhot">
                            <span class="title">热点region</span>
                        </a>
                    </li>
                    <li>
                        <a href="@routes.ServiceManager.summary">
                            <span class="title">服务管理</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>

    </div>

</div>
}
@main("工作流任务详情")(sidebar) {

<div class="page-title">

    <div class="title-env">
        <h1 class="title">任务调详情查看</h1>
        <p class="description">任务详情查看面板</p>


    </div>

    <div class="breadcrumb-env">

        <ol class="breadcrumb bc-1">
            <li>
                <a href="@routes.Application.index"><i class="fa-home"></i>Home</a>
            </li>
            <li>

                <a href="#">任务调度</a>
            </li>
            <li class="active">

                <strong>任务详情</strong>
            </li>
        </ol>

    </div>

</div>




<div class="panel panel-color panel-danger">
    <div class="panel-heading">
        <h3 class="panel-title">@jobInfo.id</h3>

        <div class="panel-options">
            <span>伸缩</span>
            <a href="#" data-toggle="panel">
                <span class="collapse-icon">&ndash;</span>
                <span class="expand-icon">+</span>
            </a>
        </div>
    </div>
    <div class="panel-body">
        <ul class="nav nav-tabs nav-tabs-justified">
            <li class="active">
                <a href="#data_def" data-toggle="tab">
                    <span class="visible-xs"><i class="fa fa-area-chart"></i></span>
                    <span class="hidden-xs">Job Definition</span>
                </a>
            </li>
            <li>
                <a href="#data_conf" data-toggle="tab">
                    <span class="visible-xs"><i class="fa fa-area-chart"></i></span>
                    <span class="hidden-xs">Job Configuraction</span>
                </a>
            </li>
            <li>
                <a href="#data_log" data-toggle="tab">
                    <span class="visible-xs"><i class="fa fa-area-chart"></i></span>
                    <span class="hidden-xs">Job Log</span>
                </a>
            </li>
            <li>
                <a href="#data_error" data-toggle="tab">
                    <span class="visible-xs"><i class="fa fa-area-chart"></i></span>
                    <span class="hidden-xs">Job Error Log</span>
                </a>
            </li>

            <li>
                <a href="#data_audit" data-toggle="tab">
                    <span class="visible-xs"><i class="fa fa-area-chart"></i></span>
                    <span class="hidden-xs">Job Audit Log</span>
                </a>
            </li>

            <li>
                <a href="#data_dag" data-toggle="tab">
                    <span class="visible-xs"><i class="fa fa-area-chart"></i></span>
                    <span class="hidden-xs">Job DAG</span>
                </a>
            </li>
        </ul>




        <div class="tab-content">
            <div class="tab-pane active" id="data_def">
               <pre>@jobInfo.jobDefinition</pre>
            </div>
            <div class="tab-pane " id="data_conf">
               <pre>@jobInfo.jobConf</pre>
            </div>
            <div class="tab-pane" id="data_log">
                <pre>@jobInfo.joblog</pre>
            </div>
            <div class="tab-pane" id="data_error">
                <pre>@jobInfo.joberrlog</pre>
            </div>
            <div class="tab-pane" id="data_audit">
                <pre>@jobInfo.jobAuditlog</pre>
            </div>
            <div class="tab-pane" id="data_dag">
                <img style="-webkit-user-select: none; display: block; margin: auto; cursor: zoom-in;" src="@jobInfo.jobDAG" width="500" height="500">
            </div>

        </div>
    </div>
</div>



<!--table style-->
<link rel="stylesheet" href="@routes.Assets.at("stylesheets/demo_page.css")" type="text/css"/>

<link rel="stylesheet" href="@routes.Assets.at("stylesheets/DT_bootstrap.css")" type="text/css"/>

<link rel="stylesheet" href="@routes.Assets.at("stylesheets/style-responsive.css")" type="text/css"/>
<link rel="stylesheet" href="@routes.Assets.at("stylesheets/sweetalert.css")" type="text/css"/>
<!--tab-->


<!--alert-->
<script src="@routes.Assets.at("javascripts/sweetalert.min.js")" type="text/javascript"></script>

    <script src="@routes.Assets.at("javascripts/jquery.dataTables.min.js")"></script>

<script src="@routes.Assets.at("javascripts/DT_bootstrap.js")"></script>
    <script src="@routes.Assets.at("javascripts/jquery-ui-1.9.2.custom.min.js")" type="text/javascript" ></script>
<script src="@routes.Assets.at("javascripts/jquery-migrate-1.2.1.min.js")" type="text/javascript" ></script>
    <script src="@routes.Assets.at("javascripts/modernizr.min.js")" type="text/javascript" ></script>
<!--tab-->

<script src="@routes.Assets.at("javascripts/dynamic_table_init.js")" type="text/javascript" ></script>
    <script src="@routes.Assets.at("javascripts/dynamic_node_init.js")" type="text/javascript" ></script>
<script src="@routes.Assets.at("javascripts/dynamic_product_init.js")" type="text/javascript" ></script>

    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/xenon-forms.css")" type="text/css"/>

        <!--select-->
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/chosen.css")" type="text/css"/>
    <script src="@routes.Assets.at("javascripts/chosen.jquery.js")" type="text/javascript"></script>

<script src="@routes.Assets.at("javascripts/oozie-editors-list.js")" type="text/javascript"></script>
}


<script>
                $(document).ready(function(){
                    $.ajax({
                        type:"GET",
                        url:"/whoiam",
                        dataType:"json",
                        success:function(data){
                            var myobj=eval(data);
                            var trackingSum=myobj.trackingSum;
                            $('#tracking').html(trackingSum);
                        }
                    });
                });
     </script>
