@sidebar = {
<div class="sidebar-menu toggle-others collapsed">

    <div class="sidebar-menu-inner">

        <header class="logo-env">

            <!-- logo -->
            <div class="logo">
                <a href="@routes.Application.index" class="logo-expanded">
                    <img src="@routes.Assets.at("images/neptune.png")" width="90" alt="" />
                </a>

                <a href="@routes.Application.index" class="logo-collapsed">
                    <img src="@routes.Assets.at("images/favicon.png")" width="40" alt="" />
                </a>
            </div>

            <!-- This will toggle the mobile menu and will be visible only on mobile devices -->
            <div class="mobile-menu-toggle visible-xs">
                <a href="#" data-toggle="user-info-menu">
                    <i class="fa-bell-o"></i>
                    <span class="badge badge-success">7</span>
                </a>

                <a href="#" data-toggle="mobile-menu">
                    <i class="fa-bars"></i>
                </a>
            </div>

            <!-- This will open the popup with user profile settings, you can use for any purpose, just be creative -->
            <div class="settings-icon">
                <a href="#" data-toggle="settings-pane" data-animate="true">
                    <i class="fa fa-cog fa-4x"></i>
                </a>
            </div>

        </header>


        <ul id="main-menu" class="main-menu">
            <!-- add class "multiple-expanded" to allow multiple submenus to open -->
            <!-- class "auto-inherit-active-class" will automatically add "active" class for parent elements who are marked already with class "active" -->
            <li>
                <a href="@routes.Application.index">
                    <i class="fa fa-dashboard fa-fw"></i>
                    <span class="title">仪表盘</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-check-square-o"></i>
                    <span class="title">数据应用面板</span>
                </a>
                <ul>
                    <li class="active">
                        <a href="@routes.SparkJar.executejarpage">
                            <span class="title">SPARK-JAR应用</span>
                        </a>
                    </li>
                    <li>
                        <a href="@routes.SparkSql.sqlpage">
                            <span class="title">SPARK-SQL应用</span>
                        </a>
                    </li>
                    <li>
                        <a href="@routes.SparkStream.stream">
                            <span class="title">SPARK-STREAM应用</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-table"></i>
                    <span class="title">APP数据</span>
                </a>
                <ul>
                    <li>
                        <a href="@routes.YarnList.yarnlist">
                            <span class="title">Yarn数据列表</span>
                        </a>
                    </li>
                    <li>
                        <a href="@routes.YarnList.sparklist">
                            <span class="title">Spark数据列表</span>
                        </a>
                    </li>

                </ul>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-anchor"></i>
                    <span class="title">任务调度</span>
                </a>
                <ul>
                    <li>
                        <a href="@routes.Oozie.oozie">
                            <span class="title">Oozie任务调度</span>
                        </a>
                    </li>
                    <li>
                        <a href="@routes.Yarn.yarnDispatch">
                            <span class="title">Spark任务调度</span>
                        </a>
                    </li>
                    <li>
                        <a href="@routes.Yarn.yarnDispatch">
                            <span class="title">Yarn任务调度</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-bell"></i>
                    <span class="title">App Tracking</span>
                    <span class="label label-success pull-right" id="tracking">50</span>
                </a>
                <ul>
                    <li>
                        <a href="@routes.RunTask.runTask">
                            <span class="title">Spark Stream 运行任务列表</span>
                        </a>
                    </li>
                    <li>
                        <a href="@routes.MonitorController.jobs">
                            <span class="title">Spark Sql任务列表</span>
                        </a>
                    </li>
                    <li>
                        <a href="@routes.RunTask.runTaskLogs">
                            <span class="title">Spark 运行任务日志</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-wrench"></i>
                    <span class="title">报警管理</span>
                    <span class="label label-success pull-right">5</span>
                </a>
                <ul>
                    <li>
                        <a href="@routes.AlarmDisk.alarmDisk">
                            <span class="title">磁盘空间报警</span>
                        </a>
                    </li>
                    <li>
                        <a href="@routes.AlarmDisk.alarmDisk">
                            <span class="title">内存相关报警</span>
                        </a>
                    </li>
                    <li>
                        <a href="@routes.AlarmDisk.alarmDisk">
                            <span class="title">其他报警</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-users"></i>
                    <span class="title">用户管理</span>
                </a>
                <ul>
                    <li>
                        <a href="@routes.Usertally.usertatol">
                            <span class="title">用户统计</span>
                        </a>
                    </li>
                    <li>
                        <a href="@routes.UserManager.userlist">
                            <span class="title">用户管理</span>
                        </a>
                    </li>
                    <li>
                        <a href="@routes.Usertally.usertatol">
                            <span class="title">权限分配</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="opened active">
                <a href="#">
                    <i class="fa fa-arrows-alt"></i>
                    <span class="title">节点分布情况</span>
                </a>
                <ul>
                    <li>
                        <a href="@routes.YarnList.workerInfo">
                            <span class="title">Spark Worker信息</span>
                        </a>
                    </li>
                    <li>
                        <a href="@routes.Serviceplan.functionplan">
                            <span class="title">功能划分</span>
                        </a>
                    </li>
                    <li class="active">
                        <a href="@routes.MetaDataManager.metadata">
                            <span class="title">集群管理</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>

    </div>

</div>
}
@main("集群管理")(sidebar) {

<div class="page-title">

    <div class="title-env">
        <h1 class="title">大数据集群信息管理</h1>
        <p class="description">集群信息管理面板</p>
    </div>

    <div class="breadcrumb-env">

        <ol class="breadcrumb bc-1">
            <li>
                <a href="@routes.Application.index"><i class="fa-home"></i>Home</a>
            </li>
            <li>

                <a href="#">节点分布情况</a>
            </li>
            <li class="active">

                <strong>集群管理</strong>
            </li>
        </ol>

    </div>

</div>


<script>
//集群信息

$(document).ready(function(){
    //initmultinodes();
    $.ajax({
        type:"GET",
        url:"/metadatalist",
        dataType:"json",
        success:function(data){
            var head= "<thead><tr><th></th><th>集群名称</th><th>产品单元</th><th>集群版本</th><th>URL</th></tr></thead><tbody>"
            var myobj=eval(data);
            for (var p in myobj) {
                var datamid = eval(data[p]);
                for (var i = 0; i < datamid.length; i++) {
                     var url=null;
                     if(datamid[i].url!=null){
                         url=datamid[i].url.replace(/\n/g,"<br/>");
                     }
                                 var version = '';
                                if(datamid[i].version!=''){
                                     var arr=eval(datamid[i].version)
                                          for (var j = 0; j < arr.length; j++) {
                                            version +=  arr[j] + '<br/>';
                                          }
                                     }
                    head += "<tr><td class=\"center\" ><img myid="+datamid[i].id+" src=\"/assets/images/plus.png\"></td><td>" + datamid[i].name + "</td><td>" + datamid[i].unit + "</td><td>" + version + "</td><td><a href='" + datamid[i].url + "' target='_blank'>" +url+ "</a></td></tr>";
                };
            };
            head += "</tbody>";
            $('#editable-sample').html(head);

            initdata();

        }
    });
});
</script>
<script>
//节点信息

            $(document).ready(function(){
                $.ajax({
                    type:"GET",
                    url:"/nodelist",
                    dataType:"json",
                    success:function(data){
                        console.log(data);
                        var head= "<thead><tr><th>IP地址</th><th>主机名称</th><th>角色</th><th>集群名称</th></tr></thead><tbody>"
                        var myobj=eval(data);
                        for (var p in myobj) {
                            var datamid = eval(data[p]);
                            for (var i = 0; i < datamid.length; i++) {

                               var role = '';
                                if(datamid[i].role!=''){
                                     var arr=eval(datamid[i].role)
                                          for (var j = 0; j < arr.length; j++) {
                                            role +=  arr[j] + '<br/>';
                                          }
                                     }

                                head += "<tr><td>" + datamid[i].ip + "</td><td>" + datamid[i].host + "</td><td>" + role + "</td><td>" +datamid[i].name+ "</td></tr>";
                            };
                        };
                        head += "</tbody>";
                        $('#editable-sample2').html(head);
                        initNodeData();


                    }
                });
            });
    </script>

<script>
    //产品单元
                $(document).ready(function(){
                $.ajax({
                    type:"GET",
                    url:"/productlist",
                    dataType:"json",
                    success:function(data){
                        console.log(data);
                        var head= "<thead><tr><th>产品单元</th><th>描述</th><th>联系人</th><th>集群信息</th></tr></thead><tbody>"
                        var myobj=eval(data);
                        for (var p in myobj) {
                            var datamid = eval(data[p]);
                            for (var i = 0; i < datamid.length; i++) {
                                head += "<tr><td>" + datamid[i].unit + "</td><td>" + datamid[i].desc + "</td><td>" + datamid[i].contact + "</td><td>" +datamid[i].cluster+ "</td></tr>";
                            };
                        };
                        head += "</tbody>";
                        $('#editable-sample3').html(head);
                         initProductData();

                    }
                });
            });


</script>




<div class="panel panel-color panel-blue">
    <div class="panel-heading">
        <h3 class="panel-title">集群管理</h3>

        <div class="panel-options">
            <span>伸缩</span>
            <a href="#" data-toggle="panel">
                <span class="collapse-icon">&ndash;</span>
                <span class="expand-icon">+</span>
            </a>
        </div>
    </div>
    <div class="panel-body">
        <ul class="nav nav-tabs nav-tabs-justified">
            <li class="active">
                <a href="#data_tables" data-toggle="tab">
                    <span class="visible-xs"><i class="fa fa-table"></i></span>
                    <span class="hidden-xs">集群信息</span>
                </a>
            </li>
            <li>
                <a href="#data_charts" data-toggle="tab">
                    <span class="visible-xs"><i class="fa fa-area-chart"></i></span>
                    <span class="hidden-xs">节点信息</span>
                </a>
            </li>
            <li>
                <a href="#data_infos" data-toggle="tab">
                    <span class="visible-xs"><i class="fa fa-area-chart"></i></span>
                    <span class="hidden-xs">产品单元信息</span>
                </a>
            </li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="data_tables">
                <div class="adv-table editable-table ">
                    <!--<div class="btn-group">-->
                        <!--<button id="editable-sample_new" class="btn btn-success">-->
                            <!--集群添加 <i class="fa fa-plus"></i>-->
                        <!--</button>-->
                    <!--</div>-->
                    <table class="display table table-bordered" id="editable-sample">
                    </table>
                </div>
            </div>
            <div class="tab-pane" id="data_charts">
                <!--<div class="btn-group">-->
                    <!--<button id="editable-sample_new2" class="btn btn-pink">-->
                        <!--单节添加 <i class="fa fa-plus"></i>-->
                    <!--</button>-->
                    <!--<button id="editable-sample_new3" class="btn btn-black">-->
                    <!--多节点添加 <i class="fa fa-plus"></i>-->
                    <!--</button>-->
                <!--</div>-->
                <table class="display table table-bordered" id="editable-sample2">
                </table>
            </div>
            <div class="tab-pane" id="data_infos">
                <!--<div class="btn-group">-->
                    <!--<button id="editable-sample_new4" class="btn btn-blue">-->
                        <!--产品单元添加 <i class="fa fa-plus"></i>-->
                    <!--</button>-->
                <!--</div>-->
                <table class="display table table-bordered" id="editable-sample3">
                </table>
            </div>
        </div>
    </div>
</div>



<!--table style-->
<link rel="stylesheet" href="@routes.Assets.at("stylesheets/demo_page.css")" type="text/css"/>

<link rel="stylesheet" href="@routes.Assets.at("stylesheets/DT_bootstrap.css")" type="text/css"/>

<link rel="stylesheet" href="@routes.Assets.at("stylesheets/style-responsive.css")" type="text/css"/>
<!--tab-->


<!--alert-->

    <script src="@routes.Assets.at("javascripts/jquery.dataTables.min.js")"></script>

<script src="@routes.Assets.at("javascripts/DT_bootstrap.js")"></script>
    <script src="@routes.Assets.at("javascripts/jquery-ui-1.9.2.custom.min.js")" type="text/javascript" ></script>
<script src="@routes.Assets.at("javascripts/jquery-migrate-1.2.1.min.js")" type="text/javascript" ></script>
    <script src="@routes.Assets.at("javascripts/modernizr.min.js")" type="text/javascript" ></script>
<!--tab-->

<script src="@routes.Assets.at("javascripts/dynamic_table_init.js")" type="text/javascript" ></script>
    <script src="@routes.Assets.at("javascripts/dynamic_node_init.js")" type="text/javascript" ></script>
<script src="@routes.Assets.at("javascripts/dynamic_product_init.js")" type="text/javascript" ></script>

    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/xenon-forms.css")" type="text/css"/>

}


    <script>
                $(document).ready(function(){
                    $.ajax({
                        type:"GET",
                        url:"/whoiam",
                        dataType:"json",
                        success:function(data){
                            var myobj=eval(data);
                            var trackingSum=myobj.trackingSum;
                            $('#tracking').html(trackingSum);
                        }
                    });
                });
     </script>
