@(form: Form[Registration])

@plain("注册"){
<div class="login-logo"><img src="@routes.Assets.at("images/favicon.png")" alt=""/></div>
<h2 class="form-heading"><font color="#FBFBFB">欢迎注册 Neptune Data Platform</font></h2>
<div class="app-cam">

    @helper.form(routes.Authentication.verifying){
    <input type="text" name="email" class="text" value="@form("email").value" placeholder="请输入邮箱" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '请输入邮箱';}">
    @if(form.hasErrors && !form.error("email").isEmpty){
        @if(form.error("email").get.message.equals("error.required")){
        <font color="red">邮箱不能为空</font>
        }else{
    <p class="error"><font color="red">@form.error("email").get.message</font></p>
        }
    }
    <input type="text" name="name" class="text" value="@form("name").value" placeholder="请输入姓名" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '请输入姓名';}">
    @if(!form.error("name").isEmpty){
        @if(form.error("name").get.message.equals("error.required")){
            <font color="red">姓名不能为空</font>
    }else{
    <p class="error"><font color="red">@form.error("name").get.message</font></p>
        }
    }
    <input type="password" name="password"  placeholder="请输入密码" onfocus="this.value = '' onblur="if (this.value == '') {this.value = '请输入密码';}">
    <input type="password" name="repassword"  placeholder="请再次确认密码" onfocus="this.value = '' onblur="if (this.value == '') {this.value = '请再次输入密码';}">
    @if(form.hasErrors && !form.error("repassword").isEmpty){
    @if(form.error("repassword").get.message.equals("error.required")){
        <font color="red">密码不能为空</font>
    }else{
     <p class="error"><font color="red">@form.error("repassword").get.message</font></p>
     }
    }

    @if(form.hasErrors){
    @form.globalError.map { error =>
    <p class="error">
        <font color="red">@error.message</font>
    </p>
    }
    }
    <div class="submit">
        <input type="submit" id="loginbutton" value="注册">
    </div>

    <ul class="new">
        <li class="new_left">
            <p class="sign"><a href="/login"><font color="#FBFBFB"> 已有账号? 登录</font></a></p>
        </li>
        <div class="clearfix"></div>
    </ul>

    }
</div class="app-cam">
<div class="copy_layout login">
    <p><font color="#FBFBFB">Copyright &copy; 2016.Sina DSP All rights reserved.More Infomation 新浪微博 </font></p>
</div>
}
