@main("Neptun Dashboard"){
<div class="graphs">
            <h3 style="text-align:center;"> Spark 运行日志查看  </h3>
    <div class="bs-example4" data-example-id="contextual-table">
        <div id = "runtask">
            </div>
        </div>
    </div>

@copyright()
<script charset="utf-8">

    $(document).ready(function(){
        $.ajax({
            type:"GET",
            url:"/workerlist",
            dataType:"json",
            success:function(data){
              var head= "<table  class=\"table\"><tr><th>Application ID</th><th>Name</th><th>User</th><th>Submitted Time</th><th>State</th><th>Logs</th></tr>"
                var myobj=eval(data);
                var activeapps =myobj.activeapps
                for (var p in activeapps) {
                    var id = activeapps[p].id
                    var name = activeapps[p].name
                    var user = activeapps[p].user
                    var memoryperslave = activeapps[p].memoryperslave
                    var submitdate = activeapps[p].submitdate
                    var state = activeapps[p].state
                    var duration = activeapps[p].duration
                    var appui = activeapps[p].appui
                    console.log(appui);
                  head += "<tr class= \"success\"><td><a a href='http://h136159.mars.grid.sina.com.cn:8080/app/?appId="+id+"' target='_blank'>"+id+"</td><td>"+name+"</td><td>"+user+"</td><td>"+submitdate+"</td><td>"+state+"</td><td><a href='/he?id="+id+"'>查看</a></td></tr>"
                   };


                head += " </table>";
                $('#runtask').html(head);
            }
        });
   });
  </script>
}


