@main("Neptun Dashboard"){
<style type='text/css'>
    #worklist{
    width:100%;
    background-color:rgb(100%,100%,90%);
    }
</style>
<style type='text/css'>
    #date{
    width:50%;
    }
</style>
<style type='text/css'>
    #sparkinfo{
    width:50%;
    line-height:2.5;
    }
</style>
<!----Calender -------->
<link rel="stylesheet" href="@routes.Assets.at("stylesheets/clndr.css")" type="text/css" />
<script src="@routes.Assets.at("javascripts/underscore-min.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/moment-2.2.1.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/clndr.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/site.js")" type="text/javascript"></script>
<!----End Calender -------->
<div class="graphs">

    <div class="col_1">
        <div class="xs" >
            <h3 style="text-align:center;"> Spark 本地调度任务列表   </h3>
            <div class="bs-example4" data-example-id="contextual-table">
                <table class="table" id = "sparklist">

                </table>
            </div>
        </div>

        <div class="clearfix"></div>

    </div>

@copyright()
</div>
<script charset="utf-8">

    $(document).ready(function(){
        $.ajax({
            type:"GET",
            url:"/workerlist",
            dataType:"json",
            success:function(data){
              var head= "<table border='10' width='439'><tr><th>Application ID</th><th>Name</th><th>User</th><th>Memory per Node</th><th>Submitted Time</th><th>State</th><th>Duration</th></tr>"
                var myobj=eval(data);
                var completedapps =myobj.completedapps
                for (var p in completedapps) {
                    var id = completedapps[p].id
                    var name = completedapps[p].name
                    var user = completedapps[p].user
                    var memoryperslave = completedapps[p].memoryperslave
                    var submitdate = completedapps[p].submitdate
                    var state = completedapps[p].state
                    var duration = completedapps[p].duration
                  head += "<tr class= \"success\"><td><a a href='http://h136159.mars.grid.sina.com.cn:8080/app/?appId="+id+"' target='_blank'>"+id+"</td><td>"+name+"</td><td>"+user+"</td><td>"+memoryperslave+"</td><td>"+submitdate+"</td><td>"+state+"</td><td>"+duration+"</td></tr>"
                   };


                head += " </table>";
                $('#sparklist').html(head);
            }
        });
   });
  </script>
}


