@(form: Form[ExecuteModel])(a: String)
@sidebar = {
    <div class="sidebar-menu toggle-others fixed">

        <div class="sidebar-menu-inner">

            <header class="logo-env">

                    <!-- logo -->
                <div class="logo">
                    <a href="@routes.Application.index" class="logo-expanded">
                        <img src="@routes.Assets.at("images/neptune.png")" width="90" alt="" />
                    </a>

                    <a href="@routes.Application.index" class="logo-collapsed">
                        <img src="@routes.Assets.at("images/favicon.png")" width="40" alt="" />
                    </a>
                </div>

                    <!-- This will toggle the mobile menu and will be visible only on mobile devices -->
                <div class="mobile-menu-toggle visible-xs">
                    <a href="#" data-toggle="user-info-menu">
                        <i class="fa-bell-o"></i>
                        <span class="badge badge-success">7</span>
                    </a>

                    <a href="#" data-toggle="mobile-menu">
                        <i class="fa-bars"></i>
                    </a>
                </div>

                    <!-- This will open the popup with user profile settings, you can use for any purpose, just be creative -->
                <div class="settings-icon">
                    <a href="#" data-toggle="settings-pane" data-animate="true">
                        <i class="fa fa-cog fa-4x"></i>
                    </a>
                </div>


            </header>


            <ul id="main-menu" class="main-menu">
                    <!-- add class "multiple-expanded" to allow multiple submenus to open -->
                    <!-- class "auto-inherit-active-class" will automatically add "active" class for parent elements who are marked already with class "active" -->
                <li>
                    <a href="@routes.Application.index">
                        <i class="fa fa-dashboard fa-fw"></i>
                        <span class="title">仪表盘</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-check-square-o"></i>
                        <span class="title">数据应用面板</span>
                    </a>
                    <ul>
                        <li>
                            <a href="@routes.SparkJar.executejarpage">
                                <span class="title">SPARK-JAR应用</span>
                            </a>
                        </li>
                        <li>
                            <a href="@routes.SparkSql.sqlpage">
                                <span class="title">SPARK-SQL应用</span>
                            </a>
                        </li>
                        <li>
                            <a href="@routes.SparkStream.stream">
                                <span class="title">SPARK-STREAM应用</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-table"></i>
                        <span class="title">APP数据</span>
                    </a>
                    <ul>
                        <li>
                            <a href="@routes.YarnList.yarnlist">
                                <span class="title">Yarn数据列表</span>
                            </a>
                        </li>
                        <li>
                            <a href="@routes.YarnList.sparklist">
                                <span class="title">Spark数据列表</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-anchor"></i>
                        <span class="title">任务调度</span>
                    </a>
                    <ul>
                        <li>
                            <a href="@routes.Yarn.yarnDispatch">
                                <span class="title">Oozie任务调度</span>
                            </a>
                        </li>
                        <li>
                            <a href="@routes.Yarn.yarnDispatch">
                                <span class="title">Spark任务调度</span>
                            </a>
                        </li>
                        <li>
                            <a href="@routes.Yarn.yarnDispatch">
                                <span class="title">Yarn任务调度</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-bell"></i>
                        <span class="title">App Tracking</span>
                        <span class="label label-success pull-right">50</span>
                    </a>
                    <ul>
                        <li>
                            <a href="@routes.RunTask.runTask">
                                <span class="title">Spark Stream 运行任务列表</span>
                            </a>
                        </li>
                        <li>
                            <a href="@routes.MonitorController.jobs">
                                <span class="title">Spark Sql任务列表</span>
                            </a>
                        </li>
                        <li>
                            <a href="@routes.RunTask.runTaskLogs">
                                <span class="title">Spark 运行任务日志</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="opened active">
                    <a href="#">
                        <i class="fa fa-wrench"></i>
                        <span class="title">报警管理</span>
                        <span class="label label-success pull-right">5</span>
                    </a>
                    <ul>
                        <li class="active">
                            <a href="@routes.AlarmDisk.alarmDisk">
                                <span class="title">磁盘空间报警</span>
                            </a>
                        </li>
                        <li>
                            <a href="@routes.AlarmDisk.alarmDisk">
                                <span class="title">内存相关报警</span>
                            </a>
                        </li>
                        <li>
                            <a href="@routes.AlarmDisk.alarmDisk">
                                <span class="title">其他报警</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-users"></i>
                        <span class="title">用户管理</span>
                    </a>
                    <ul>
                        <li>
                            <a href="@routes.Usertally.usertatol">
                                <span class="title">用户统计</span>
                            </a>
                        </li>
                        <li>
                            <a href="@routes.UserManager.userlist">
                                <span class="title">用户管理</span>
                            </a>
                        </li>
                        <li>
                            <a href="@routes.Usertally.usertatol">
                                <span class="title">权限分配</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-arrows-alt"></i>
                        <span class="title">节点分布情况</span>
                    </a>
                    <ul>
                        <li>
                            <a href="@routes.YarnList.workerInfo">
                                <span class="title">Spark Worker信息</span>
                            </a>
                        </li>
                        <li>
                            <a href="@routes.Serviceplan.servicedao">
                                <span class="title">服务划分</span>
                            </a>
                        </li>
                        <li>
                            <a href="@routes.Serviceplan.graph">
                                <span class="title">Graph展示</span>
                            </a>
                        </li>
                        <li>
                            <a href="@routes.Serviceplan.functionplan">
                                <span class="title">功能划分</span>
                            </a>
                        </li>
                        <li>
                            <a href="@routes.MetaDataManager.metadata">
                                <span class="title">集群管理</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>

        </div>

    </div>
}

@main("Neptune Spark-Jar")(sidebar) {


    <div class="graphs">

        <div class="xs">
            <h3>执行参数</h3>
            <div class="tab-content">
                <div class="tab-pane active" id="horizontal-form">
                @helper.form(action = routes.SparkJar.executejar) {
                    <div class="form-horizontal" >

                        <div class="form-group mb-n">
                            <label for="largeinput" class="col-sm-2 control-label label-input-lg">--class</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control1 input-lg" name="executeClass" id="executeClass" placeholder="Large Input">
                            </div>
                        </div>
                        <div class="form-group mb-n">
                            <label for="largeinput" class="col-sm-2 control-label label-input-lg">--num-executors</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control1 input-lg" name="numExecutors" id="numExecutors" placeholder="Large Input">
                            </div>
                        </div>
                        <div class="form-group mb-n">
                            <label for="largeinput" class="col-sm-2 control-label label-input-lg">--driver-memory</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control1 input-lg" name="driverMemory" id="driverMemory" placeholder="Large Input">
                            </div>
                        </div>
                        <div class="form-group mb-n">
                            <label for="largeinput" class="col-sm-2 control-label label-input-lg">
                                --executor-memory</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control1 input-lg" name="executorMemory" id="executorMemory" placeholder="Large Input">
                            </div>
                        </div>
                        <div class="form-group mb-n">
                            <label for="largeinput" class="col-sm-2 control-label label-input-lg">--executor-cores</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control1 input-lg" name="executorCores" id="executorCores" placeholder="Large Input">
                            </div>
                        </div>
                        <div class="form-group mb-n">
                            <label for="largeinput" class="col-sm-2 control-label label-input-lg">jar location</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control1 input-lg" name="jarLocation" value="@a" id="largeinput" placeholder="Large Input">
                            </div>
                        </div>
                        <div class="form-group mb-n">
                            <label for="largeinput" class="col-sm-2 control-label label-input-lg">args</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control1 input-lg" name="args1" id="args1" placeholder="Large Input">
                            </div>
                        </div>
                        <div class="panel-footer">
                            <div class="row">
                                <div class="col-sm-8 col-sm-offset-2">
                                    <button class="btn-success btn">提交</button>
                                    <button class="btn-inverse btn" type="reset" >重置</button>
                                </div>
                            </div>
                        </div>

                    </div>
                }
                </div>
            </div>


        </div>
        <div class="clearfix"> </div>
        @copyright()
    </div>

}
