@main("Neptune SparkSql") {
<!--加载动态图表js-->
<script src="@routes.Assets.at("javascripts/sqlToDisplay.js")"></script>
    <div class="graphs">
        <div class="clearfix"> </div>
        <div class="xs">

            <div class="tab-content">
                <div class="tab-pane active" id="horizontal-form">
                    <div class="form-group">
                        <label for="sql" class="col-sm-2 control-label">请输入要执行的SQL</label>
                        <div class="col-sm-8">
                            <textarea id="sql" cols="50" rows="4" class="form-control1"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"> </div>

            <ul id="myTab" class="nav nav-tabs">
                <li class="active"><a href="#data_tables" data-toggle="tab" onclick='resultToTable()'>
                    表格</a></li>
                <li><a href="#data_charts" data-toggle="tab" >图表</a></li>
            </ul>
            <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade in active" id="data_tables">
                    <p id="tables"></p>
                </div>
                <div class="tab-pane fade" id="data_charts">
                    <select class="selectpicker" id="xargs">
                        <option selected = "selected">请选择X坐标:</option>
                    </select>
                    <select class="selectpicker" id="yargs">
                        <option selected = "selected">请选择Y坐标:</option>
                    </select>
                    <select class="selectpicker" id="yargs">
                        <option selected = "selected">柱状图</option>
                        <option>折线图</option>
                        <option>饼图</option>
                        <option>雷达图</option>
                        <option>散点图</option>
                        <option>瀑布图</option>
                    </select>
                    <button class="btn-success btn" id="generate">生成图表</button>
                    <p id="charts"></p>
                </div>

            </div>
            <div class="clearfix"> </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2">
                        <button class="btn-success btn" id="submit">提交</button>
                        <button class="btn-inverse btn" type="reset" >重置</button>
                        <a class="btn-success btn" href="@routes.SparkSql.download">导出文件</a>
                    </div>
                </div>
            </div>

            @copyright()

        </div>
    </div>
}