@sidebar = {
<div class="sidebar-menu toggle-others fixed">

    <div class="sidebar-menu-inner">

        <header class="logo-env">

            <!-- logo -->
            <div class="logo">
                <a href="@routes.Application.index" class="logo-expanded">
                    <img src="@routes.Assets.at("images/neptune.png")" width="90" alt="" />
                </a>

                <a href="@routes.Application.index" class="logo-collapsed">
                    <img src="@routes.Assets.at("images/favicon.png")" width="40" alt="" />
                </a>
            </div>

            <!-- This will toggle the mobile menu and will be visible only on mobile devices -->
            <div class="mobile-menu-toggle visible-xs">
                <a href="#" data-toggle="user-info-menu">
                    <i class="fa-bell-o"></i>
                    <span class="badge badge-success">7</span>
                </a>

                <a href="#" data-toggle="mobile-menu">
                    <i class="fa-bars"></i>
                </a>
            </div>

            <!-- This will open the popup with user profile settings, you can use for any purpose, just be creative -->
            <div class="settings-icon">
                <a href="#" data-toggle="settings-pane" data-animate="true">
                    <i class="fa fa-cog fa-4x"></i>
                </a>
            </div>


        </header>


        <ul id="main-menu" class="main-menu">
            <!-- add class "multiple-expanded" to allow multiple submenus to open -->
            <!-- class "auto-inherit-active-class" will automatically add "active" class for parent elements who are marked already with class "active" -->
            <li>
                <a href="@routes.Application.index">
                    <i class="fa fa-dashboard fa-fw"></i>
                    <span class="title">仪表盘</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-check-square-o"></i>
                    <span class="title">数据应用面板</span>
                </a>
                <ul>
                    <li class="active">
                        <a href="@routes.SparkJar.executejarpage">
                            <span class="title">SPARK-JAR应用</span>
                        </a>
                    </li>
                    <li>
                        <a href="@routes.SparkSql.sqlpage">
                            <span class="title">SPARK-SQL应用</span>
                        </a>
                    </li>
                    <li>
                        <a href="@routes.SparkStream.stream">
                            <span class="title">SPARK-STREAM基于HDFS的应用</span>
                        </a>
                    </li>
                    <li>
                        <a href="@routes.SparkStream.stream">
                            <span class="title">SPARK-STREAM基于KAFKA的应用</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-table"></i>
                    <span class="title">APP数据</span>
                </a>
                <ul>
                    <li>
                        <a href="@routes.YarnList.yarnlist">
                            <span class="title">Yarn数据列表</span>
                        </a>
                    </li>
                    <li>
                        <a href="@routes.YarnList.sparklist">
                            <span class="title">Spark数据列表</span>
                        </a>
                    </li>
                    <li>
                        <a href="@routes.YarnList.workerInfo">
                            <span class="title">Spark Worker信息</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-anchor"></i>
                    <span class="title">任务调度</span>
                </a>
                <ul>
                    <li>
                        <a href="@routes.Yarn.yarnDispatch">
                            <span class="title">Oozie任务调度</span>
                        </a>
                    </li>
                    <li>
                        <a href="@routes.Yarn.yarnDispatch">
                            <span class="title">Spark任务调度</span>
                        </a>
                    </li>
                    <li>
                        <a href="@routes.Yarn.yarnDispatch">
                            <span class="title">Yarn任务调度</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-bell"></i>
                    <span class="title">App Tracking</span>
                    <span class="label label-success pull-right">50</span>
                </a>
                <ul>
                    <li>
                        <a href="@routes.RunTask.runTask">
                            <span class="title">Spark Stream 运行任务列表</span>
                        </a>
                    </li>
                    <li>
                        <a href="@routes.MonitorController.jobs">
                            <span class="title">Spark Sql任务列表</span>
                        </a>
                    </li>
                    <li>
                        <a href="@routes.RunTask.runTaskLogs">
                            <span class="title">Spark 运行任务日志</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-wrench"></i>
                    <span class="title">报警管理</span>
                    <span class="label label-success pull-right">5</span>
                </a>
                <ul>
                    <li>
                        <a href="@routes.AlarmDisk.alarmDisk">
                            <span class="title">磁盘空间报警</span>
                        </a>
                    </li>
                    <li>
                        <a href="@routes.AlarmDisk.alarmDisk">
                            <span class="title">内存相关报警</span>
                        </a>
                    </li>
                    <li>
                        <a href="@routes.AlarmDisk.alarmDisk">
                            <span class="title">其他报警</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="opened active">
                <a href="#">
                    <i class="fa fa-users"></i>
                    <span class="title">用户管理</span>
                </a>
                <ul>
                    <li class="active">
                        <a href="@routes.Usertally.usertatol">
                            <span class="title">用户统计</span>
                        </a>
                    </li>
                    <li>
                        <a href="@routes.UserManager.userlist">
                            <span class="title">用户管理</span>
                        </a>
                    </li>
                    <li>
                        <a href="@routes.Usertally.usertatol">
                            <span class="title">权限分配</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-arrows-alt"></i>
                    <span class="title">节点分布情况</span>
                </a>
                <ul>
                    <li>
                        <a href="@routes.Serviceplan.servicedao">
                            <span class="title">服务划分</span>
                        </a>
                    </li>
                    <li>
                        <a href="@routes.Serviceplan.graph">
                            <span class="title">Graph展示</span>
                        </a>
                    </li>
                    <li>
                        <a href="@routes.Serviceplan.functionplan">
                            <span class="title">功能划分</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>

    </div>

</div>
}
@main("Neptun 用户任务管理")(sidebar) {

<div class="page-title">

    <div class="title-env">
        <h1 class="title">任务管理</h1>
        <p class="description">任务管理view面板</p>
    </div>

    <div class="breadcrumb-env">

        <ol class="breadcrumb bc-1">
            <li>
                <a href="@routes.Application.index"><i class="fa-home"></i>Home</a>
            </li>
            <li>

                <a href="#">个人中心</a>
            </li>
            <li class="active">

                <strong>任务列表</strong>
            </li>
        </ol>

    </div>

</div>

<!--yarn table-->
<script>
            $(document).ready(function(){
                $.ajax({
                    type:"GET",
                    url:"/yarn",
                    dataType:"json",
                    success:function(data){
                        var head= "<thead><tr><th style=\"WORD-WRAP: break-word\" width=\"150\">ID</th><th style=\"WORD-WRAP: break-word\" width=\"150\">Name</th><th>App Type</th><th>Queue</th><th style=\"WORD-WRAP: break-word\" width=\"160\">StartTime</th><th style=\"WORD-WRAP: break-word\" width=\"160\">FinishTime</th><th style=\"WORD-WRAP: break-word\" width=\"100\">State</th><th style=\"WORD-WRAP: break-word\" width=\"55\">Kill</th><th>ReRun</th></tr></thead><tbody>"
                        var myobj=eval(data);
                        for (var p in myobj) {
                            var datamid = eval(data[p]);
                            for (var i = 0; i < datamid.length; i++) {
                                head += "<tr><td style=\"WORD-WRAP: break-word\" width=\"80\">" + datamid[i].applicaton_id + "</td><td style=\"WORD-WRAP: break-word\" width=\"60\">" + datamid[i].name + "</td><td>" + datamid[i].apptype + "</td><td>"+datamid[i].queue+ "</td><td style=\"WORD-WRAP: break-word\" width=\"80\">"+new Date(datamid[i].starttime).toLocaleString()+ "</td><td>"+new Date(datamid[i].finishtime).toLocaleString()+ "</td><td>"+datamid[i].state+"</td><td><a class=\"edit\" href=\"javascript:;\">" + 'Kill' + "</a></td><td><a class=\"delete\" href=\"javascript:;\">" + 'ReRun' + "</a></td></tr>";
                            };
                        };
                        head += "</tbody>";
                        $('#editable-yarn').html(head);


                    }
                });
            });
    </script>


<!--standalone table-->
<script>
            $(document).ready(function(){
                $.ajax({
                    type:"GET",
                    url:"/standalone",
                    dataType:"json",
                    success:function(data){
                        var head= "<thead><tr><th>Application ID</th><th>Name</th><th>Cores</th><th>Memory per Node</th><th>Submitted Time</th><th>State</th><th>Duration</th><th>Kill</th><th>ReRun</th></tr></thead><tbody>"
                        var myobj=eval(data);
                        for (var p in myobj) {
                            var datamid = eval(data[p]);
                            for (var i = 0; i < datamid.length; i++) {
                                head += "<tr><td>" + datamid[i].app_id + "</td><td>" + datamid[i].name + "</td><td>" + datamid[i].cores + "</td><td>"+datamid[i].memoryperslave+ "</td><td>"+datamid[i].submitdate+ "</td><td>"+datamid[i].state+ "</td><td>"+datamid[i].duration+"</td><td><a class=\"edit\" href=\"javascript:;\">" + 'Kill' + "</a></td><td><a class=\"delete\" href=\"javascript:;\">" + 'ReRun' + "</a></td></tr>";
                            };
                        };
                        head += "</tbody>";
                        $('#editable-standalone').html(head);


                    }
                });
            });

    </script>






<div class="clearfix"> </div>
<div class="graphs">
    <!--collapse start-->
    <div class="panel-group " id="accordion2">
        <div class="panel">
            <div class="panel-heading dark">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne2">
                        yarn mode
                    </a>
                </h4>
            </div>
            <div id="collapseOne2" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div class="adv-table editable-table ">
                        <div class="clearfix">

                        </div>
                        <div class="space15"></div>
                        <table class="table table-striped table-hover table-bordered" id="editable-yarn"  style="TABLE-LAYOUT: fixed" >
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel">
            <div class="panel-heading dark">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo2">
                        standalone mode
                    </a>
                </h4>
            </div>
            <div id="collapseTwo2" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="adv-table editable-table ">
                        <div class="clearfix">

                        </div>
                        <div class="space15"></div>
                        <table class="table table-striped table-hover table-bordered" id="editable-standalone">
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel">
            <div class="panel-heading dark">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree2">
                        local mode
                    </a>
                </h4>
            </div>
            <div id="collapseThree2" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="adv-table editable-table ">
                        <div class="clearfix">

                        </div>
                        <div class="space15"></div>
                        <table class="table table-striped table-hover table-bordered" id="editable-local">
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--collapse end-->




    <div class="clearfix"> </div>

</div>
}
