@sidebar = {
    <div class="sidebar-menu toggle-others fixed">

        <div class="sidebar-menu-inner">

            <header class="logo-env">

                    <!-- logo -->
                <div class="logo">
                    <a href="@routes.Application.index" class="logo-expanded">
                        <img src="@routes.Assets.at("images/neptune.png")" width="90" alt="" />
                    </a>

                    <a href="@routes.Application.index" class="logo-collapsed">
                        <img src="@routes.Assets.at("images/favicon.png")" width="40" alt="" />
                    </a>
                </div>

                    <!-- This will toggle the mobile menu and will be visible only on mobile devices -->
                <div class="mobile-menu-toggle visible-xs">
                    <a href="#" data-toggle="user-info-menu">
                        <i class="fa-bell-o"></i>
                        <span class="badge badge-success">7</span>
                    </a>

                    <a href="#" data-toggle="mobile-menu">
                        <i class="fa-bars"></i>
                    </a>
                </div>

                    <!-- This will open the popup with user profile settings, you can use for any purpose, just be creative -->
                <div class="settings-icon">
                    <a href="#" data-toggle="settings-pane" data-animate="true">
                        <i class="fa fa-cog fa-4x"></i>
                    </a>
                </div>

            </header>


            <ul id="main-menu" class="main-menu">
                    <!-- add class "multiple-expanded" to allow multiple submenus to open -->
                    <!-- class "auto-inherit-active-class" will automatically add "active" class for parent elements who are marked already with class "active" -->
                <li>
                    <a href="@routes.Application.index">
                        <i class="fa fa-dashboard fa-fw"></i>
                        <span class="title">仪表盘</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-check-square-o"></i>
                        <span class="title">数据应用面板</span>
                    </a>
                    <ul>
                        <li class="active">
                            <a href="@routes.SparkJar.executejarpage">
                                <span class="title">SPARK-JAR应用</span>
                            </a>
                        </li>
                        <li>
                            <a href="@routes.SparkSql.sqlpage">
                                <span class="title">SPARK-SQL应用</span>
                            </a>
                        </li>
                        <li>
                            <a href="@routes.SparkStream.stream">
                                <span class="title">SPARK-STREAM基于HDFS的应用</span>
                            </a>
                        </li>
                        <li>
                            <a href="@routes.SparkStream.stream">
                                <span class="title">SPARK-STREAM基于KAFKA的应用</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-table"></i>
                        <span class="title">APP数据</span>
                    </a>
                    <ul>
                        <li>
                            <a href="@routes.YarnList.yarnlist">
                                <span class="title">Yarn数据列表</span>
                            </a>
                        </li>
                        <li>
                            <a href="@routes.YarnList.sparklist">
                                <span class="title">Spark数据列表</span>
                            </a>
                        </li>
                        <li>
                            <a href="@routes.YarnList.workerInfo">
                                <span class="title">Spark Worker信息</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-anchor"></i>
                        <span class="title">任务调度</span>
                    </a>
                    <ul>
                        <li>
                            <a href="@routes.Yarn.yarnDispatch">
                                <span class="title">Oozie任务调度</span>
                            </a>
                        </li>
                        <li>
                            <a href="@routes.Yarn.yarnDispatch">
                                <span class="title">Spark任务调度</span>
                            </a>
                        </li>
                        <li>
                            <a href="@routes.Yarn.yarnDispatch">
                                <span class="title">Yarn任务调度</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-bell"></i>
                        <span class="title">App Tracking</span>
                        <span class="label label-success pull-right">50</span>
                    </a>
                    <ul>
                        <li>
                            <a href="@routes.RunTask.runTask">
                                <span class="title">Spark Stream 运行任务列表</span>
                            </a>
                        </li>
                        <li>
                            <a href="@routes.MonitorController.jobs">
                                <span class="title">Spark Sql任务列表</span>
                            </a>
                        </li>
                        <li>
                            <a href="@routes.RunTask.runTaskLogs">
                                <span class="title">Spark 运行任务日志</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-wrench"></i>
                        <span class="title">报警管理</span>
                        <span class="label label-success pull-right">5</span>
                    </a>
                    <ul>
                        <li>
                            <a href="@routes.AlarmDisk.alarmDisk">
                                <span class="title">磁盘空间报警</span>
                            </a>
                        </li>
                        <li>
                            <a href="@routes.AlarmDisk.alarmDisk">
                                <span class="title">内存相关报警</span>
                            </a>
                        </li>
                        <li>
                            <a href="@routes.AlarmDisk.alarmDisk">
                                <span class="title">其他报警</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="opened active">
                    <a href="#">
                        <i class="fa fa-users"></i>
                        <span class="title">用户管理</span>
                    </a>
                    <ul>
                        <li>
                            <a href="@routes.Usertally.usertatol">
                                <span class="title">用户统计</span>
                            </a>
                        </li>
                        <li class="active">
                            <a href="@routes.UserManager.userlist">
                                <span class="title">用户管理</span>
                            </a>
                        </li>
                        <li>
                            <a href="@routes.Usertally.usertatol">
                                <span class="title">权限分配</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-arrows-alt"></i>
                        <span class="title">节点分布情况</span>
                    </a>
                    <ul>
                        <li>
                            <a href="@routes.Serviceplan.servicedao">
                                <span class="title">服务划分</span>
                            </a>
                        </li>
                        <li>
                            <a href="@routes.Serviceplan.graph">
                                <span class="title">Graph展示</span>
                            </a>
                        </li>
                        <li>
                            <a href="@routes.Serviceplan.functionplan">
                                <span class="title">功能划分</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>

        </div>

    </div>
}
@main("Neptune用户管理")(sidebar) {


    <div class="page-title">

        <div class="title-env">
            <h1 class="title">用户及用户组权限管理</h1>
            <p class="description">用户管理面板</p>
        </div>

        <div class="breadcrumb-env">

            <ol class="breadcrumb bc-1">
                <li>
                    <a href="@routes.Application.index"><i class="fa-home"></i>Home</a>
                </li>
                <li>

                    <a href="#">用户管理</a>
                </li>
                <li class="active">

                    <strong>用户管理</strong>
                </li>
            </ol>

        </div>

    </div>
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/DT_bootstrap.css")" type="text/css"/>
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/style-responsive.css")" type="text/css"/>
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/xenon-forms.css")" type="text/css"/>
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/sweetalert.css")" type="text/css"/>
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/google.css")" type="text/css"/>
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/tooltipster.bundle.min.css")" type="text/css"/>
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/tooltipster-sideTip-punk.min.css")" type="text/css"/>

    <link href="@routes.Assets.at("stylesheets/jquery-ui.min.css")" rel="stylesheet">
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/style.css")" type="text/css"/>
    <script src="@routes.Assets.at("javascripts/sweetalert.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/tooltipster.bundle.min.js")" type="text/javascript"></script>

    <script>
            $(document).ready(function(){
                $.ajax({
                    type:"GET",
                    url:"/usergrouplist",
                    dataType:"json",
                    success:function(data){
                        var head= "<thead><tr><th>email</th><th>name</th><th>group</th><th>queue</th><th>Edit</th><th>Delete</th></tr></thead><tbody>"
                        var myobj=eval(data);
                        for (var p in myobj) {
                            var datamid = eval(data[p]);
                            for (var i = 0; i < datamid.length; i++) {
                                head += "<tr><td>" + datamid[i].email + "</td><td>" + datamid[i].name + "</td><td>" + datamid[i].group + "</td><td>"+datamid[i].queue+"</td><td><a class=\"edit\" href=\"javascript:;\">" + 'Edit' + "</a></td><td><a class=\"delete\" href=\"javascript:;\">" + 'Delete' + "</a></td></tr>";
                            };
                        };
                        head += "</tbody>";
                        $('#editable-sample').html(head);

                        jQuery(document).ready(function() {
                            EditableTable.init();
                        });
                    }
                });
            });

    </script>
    <div class="row">
        <div class="clearfix"> </div>
        <section class="panel panel-color panel-purple collapsed">
            <div class="panel-heading">
                <h4 class="panel-title">用户组设置</h4>
                <div class="panel-options">
                    <span>伸缩</span><a href="#" data-toggle="panel">
                    <span class="collapse-icon">&ndash;</span>
                    <span class="expand-icon">+</span>
                </a>
                </div>
            </div>
            <div class="panel panel-body">
                <div class="adv-table editable-table ">
                    <div class="clearfix">
                        <div class="btn-group">
                            <button id="editable-sample_new" class="btn btn-pink">
                                添加新用户 <i class="fa fa-plus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="space15"></div>
                    <table class="table table-striped table-hover table-bordered" id="editable-sample">
                    </table>
                </div>

            </div>
        </section>

    </div>



    <div class="row">

        <div class="clearfix"> </div>
        <div class="panel panel-color panel-success collapsed">
            <div class="panel-heading">
                <h4 class="panel-title">用户组资源分配设置</h4>
                <div class="panel-options">

                    <a href="#">
                        <i class="linecons-cog"></i>
                    </a>
                    <span>确认修改</span>
                    <a href="#" id="checkifok" title="点此执行变更操作">
                        <span class="fa fa-check" id="submit" onclick="getvalue();"></span>
                    </a>
                    <span>伸缩</span><a href="#" data-toggle="panel">
                    <span class="collapse-icon">&ndash;</span>
                    <span class="expand-icon">+</span>
                </a>

                    <script>
                            $(document).ready(function() {
                                $('#checkifok').tooltipster({
                                    theme: 'tooltipster-punk'
                                });
                            });
                    </script>

                </div>

            </div>
            <div class="panel panel-body">


                <h3>选择用户组(队列名称)</h3>

                <div class="pull-right">
                    <select class="form-control meduim" id="usergroup">
                        <option option:selected value="normal">DSP组</option>
                        <option value="default">大数据组</option>
                        <option value="default">用户增长组</option>
                        <option value="pt_UserGrowth">微博头条组</option>
                        <option value="pt_UserGrowth">数据监控组</option>
                    </select>
                </div>


            </div>
            <div class="panel panel-body">


                <div class="clearfix"></div>

                <div>
                    <h3>调整参数</h3>
                    <div class="clearfix"></div>
                    <span>
                        内存资源</span> <div id="mem" class="slider slider-danger" data-min="0" data-postfix=" mb" data-max="1800" data-value="223"></div>

                    <span>
                        CPU资源</span><div id="cpu" class="slider slider-blue" data-postfix=" vcores" data-min="0" data-max="1800" data-value="465"></div>

                    <span>
                        最大任务数</span><div id="apps" class="slider slider-purple" data-postfix="" data-min="0" data-max="1800" data-value="897"></div>

                </div>

                <script>
                        function getvalue(){
                            var mem = $('#mem').text();
                            var cpu = $('#cpu').text();
                            var apps = $('#apps').text();
                            var group = $("#usergroup").find("option:selected").val();
                            swal("确认信息?","选择信息如下 : \n\n用户组: " + group + "\n内存: " + mem + "\n" + "CPU: " + cpu + "\n" + "并行任务数: " + apps + "\n");

                            $.ajax({
                                type:"GET",
                                url:"/UserResource",
                                data:{queueName:group,mem:mem,cpu:cpu,apps:apps},
                                dataType:"text",
                                success:function(data){
                                    swal("提示!","修改成功");
                                }
                            });

                        };
                </script>
            </div>

        </div>

    </div>


        <!--注册审核-->

    <script>
            $(document).ready(function(){
                $.ajax({
                    type:"GET",
                    url:"/audit",
                    dataType:"json",
                    success:function(data){
                        var head= "<thead><tr><th>email</th><th>name</th><th>status</th><th>audit</th><th>yes</th><th>no</th></tr></thead><tbody>"
                        var myobj=eval(data);
                        for (var p in myobj) {
                            var datamid = eval(data[p]);
                            for (var i = 0; i < datamid.length; i++) {
                                var status_msg ="邮箱未验证"
                                var audit_msg="待审核"
                                if(datamid[i].status>0){
                                    status_msg="邮箱已验证"
                                }
                                if(datamid[i].audit>0){
                                    audit_msg="已审核"
                                }
                                head += "<tr><td>" + datamid[i].email + "</td><td>" + datamid[i].name + "</td><td>" + status_msg + "</td><td>"+audit_msg+"</td><td><a class=\"edit\" href=\"javascript:;\">" + 'Pass' + "</a></td><td><a class=\"delete\" href=\"javascript:;\">" + 'No Pass' + "</a></td></tr>";
                            };
                        };
                        head += "</tbody>";
                        $('#editable-audit').html(head);

                        var oTable = $('#editable-audit').dataTable({
                            "aLengthMenu": [
                                [5, 15, 20, -1],
                                [5, 15, 20, "All"] // change per page values here
                            ],
                            // set the initial value
                            "iDisplayLength": 5,
                            "sDom": "<'row'<'col-lg-6'l><'col-lg-6'f>r>t<'row'<'col-lg-6'i><'col-lg-6'p>>",
                            "sPaginationType": "bootstrap",
                            "oLanguage": {
                                "sLengthMenu": "_MENU_ 条记录",
                                "oPaginate": {
                                    "sPrevious": "Prev",
                                    "sNext": "Next"
                                }
                            },
                            "aoColumnDefs": [{
                                'bSortable': false,
                                'aTargets': [0]
                            }
                            ]
                        });
                        jQuery('#editable-audit_wrapper .dataTables_filter input').addClass("form-control meduim");
                        jQuery('#editable-audit_wrapper .dataTables_length select').addClass("form-control small");


                        //不通过点击事件
                        $('#editable-audit a.delete').live('click', function(e){
                              e.preventDefault();
                              var nRow = $(this).parents('tr')[0];
                              var $email = $(this).parents('tr').find("td:eq(0)").text()
                              swal({
                              title: "内容输入",
                               text: "审核不通过理由:",
                               type: "input",
                               confirmButtonText: "确认",
                               cancelButtonText: "取消",
                               showCancelButton: true,
                               closeOnConfirm: false,
                               showLoaderOnConfirm: true,
                                animation: "slide-from-top",
                                 inputPlaceholder: "请输入文字" },
                                 function(inputValue){
                                 if (inputValue === false) return false;
                                 if (inputValue === "") {
                                 swal.showInputError("内容不能为空!");
                                  return false   }

                                         setTimeout(function(){
                                            $(document).ready(function(){
                                                $.ajax({
                                                    type:"GET",
                                                    url:"/nopass",
                                                    data:{email:$email,body:inputValue},
                                                    dataType:"text",
                                                    success:function(data){
                                                        oTable.fnUpdate("已审核", nRow, 3, false);
                                                        oTable.fnDraw();
                                                        swal("操作完成!", "审核理由: " + inputValue +" 已发送到邮件"+$email, "success");
                                                    }
                                                });
                                            });

                                            }, 1000);
                                 });

                        });




                        //通过点击事件
                        $('#editable-audit a.edit').live('click', function (e) {
                            e.preventDefault();

                          var nRow = $(this).parents('tr')[0];
                              //获取用户邮箱
                            var $email = $(this).parents('tr').find("td:eq(0)").text()


                        swal({
                        title: "请确认?",
                        text: "通过 "+$email+"的申请?",
                        type: "warning",
                        confirmButtonColor: "#DD6B55",
                        confirmButtonText: "确认",
                        cancelButtonText: "取消",
                        showCancelButton: true,
                        closeOnConfirm: false,
                         },
                        function(isConfirm){
                        if (isConfirm) {

                            $(document).ready(function(){
                                $.ajax({
                                    type:"GET",
                                    url:"/pass",
                                    data:{email:$email},
                                    dataType:"text",
                                    success:function(data){
                                        oTable.fnUpdate("已审核", nRow, 3, false);
                                        oTable.fnDraw();
                                        swal("操作完成", data, "success");

                                    }
                                });
                            });

                           }  });


                        });
                    }
                });
            });
    </script>



    <div class="row">
        <div class="clearfix"> </div>
        <section class="panel panel-color panel-yellow collapsed">
            <div class="panel-heading">
                <h4 class="panel-title">注册审核</h4>
                <div class="panel-options">

                    <span>伸缩</span><a href="#" data-toggle="panel">
                    <span class="collapse-icon">&ndash;</span>
                    <span class="expand-icon">+</span>
                </a>
                </div>
            </div>
            <div class="panel panel-body">
                <div class="adv-table editable-table ">
                    <div class="clearfix">

                    </div>
                    <div class="space15"></div>
                    <div id="btn-dialogBox"></div>
                    <table class="table table-striped table-hover table-bordered" id="editable-audit">
                    </table>
                </div>
            </div>
        </section>

        <script>
                $(function () { $("[data-toggle='tooltip']").tooltip();});
        </script>
    </div>

    <!--注册审核结束-->

    <script src="@routes.Assets.at("javascripts/jquery-ui-1.9.2.custom.min.js")" type="text/javascript" ></script>
    <script src="@routes.Assets.at("javascripts/jquery-migrate-1.2.1.min.js")" type="text/javascript" ></script>
    <script src="@routes.Assets.at("javascripts/modernizr.min.js")" type="text/javascript" ></script>
    <script src="@routes.Assets.at("javascripts/jquery.nicescroll.js")" type="text/javascript" ></script>



        <!--data table-->
        <!--<script type="text/javascript" src="js/data-tables/jquery.dataTables.js"></script>-->
        <!--<script type="text/javascript" src="js/data-tables/DT_bootstrap.js"></script>-->

    <script src="@routes.Assets.at("javascripts/jquery.dataTables.js")" type="text/javascript" ></script>
    <script src="@routes.Assets.at("javascripts/DT_bootstrap.js")" type="text/javascript" ></script>

        <!--common scripts for all pages-->
        <!--<script src="js/scripts.js"></script>-->

    <script src="@routes.Assets.at("javascripts/scripts.js")" type="text/javascript" ></script>

        <!--script for editable table-->
        <!--<script src="js/editable-table.js"></script>-->

    <script src="@routes.Assets.at("javascripts/editable-table.js")" type="text/javascript" ></script>
        <!-- END JAVASCRIPTS -->
        <!--<script>-->
        <!--jQuery(document).ready(function() {-->
        <!--EditableTable.init();-->
        <!--});-->
        <!--</script>-->
}

