@(map: Map[String,String])
@main("Neptun Dashboard"){

<div class="bs-example4" data-example-id="contextual-table">
    <table class="table table-hover">
        <tr><th>Host</th><th>Services</th></tr>
        @for((key, value) <- map) {
            <tr>
                <td>@key</td><td>@value</td>
            </tr>
        }
    </table>
</div>
<script charset="utf-8">
    $(document).ready(function(){
        $.ajax({
            type:"GET",
            url:"/serviceplan",
            dataType:"json",
            success:function(data){
                var head= "<table border='10' width='439'><tr><th>IP</th><th>服务</th></tr>";
                var service=eval(data);
                console.log(service);
                for (var ip in service) {
                    var ser = service[ip];
                    head += "<tr><td>"+ip+"</td><td>"+ser+"</td></tr>";
                   };
                head += " </table>";
                $('#servicelist').html(head);
            }
        });
   });
  </script>
<scripe>


}

            <!--@for((key, value) <- map) {-->
            <!--<span>@key</span><span>@value</span>-->
            <!--}-->
@copyright()
