@(map: Map[String,String])
@main("Neptun Dashboard"){

<div class="bs-example4" data-example-id="contextual-table">
    <table class="table table-hover">
        <tr><th><font color="SteelBlue"><h3>Host</h3></font></th><th><font color="SteelBlue"><h3>Service</h3></font></th></tr>
        @for((key, value) <- map) {
            <tr>
                @if(value.contains("Worker")){
                <td><font color="SteelBlue"><h4>@key</h4></font></td><td><font color="CornflowerBlue"><h4>@value</h4></font></td>
                }else {
                <td><font color="SteelBlue"><h4>@key</h4></font></td><td><font color="CadetBlue"><h4>@value</h4></font></td>
                }
            </tr>
        }
    </table>
</div>
}
@copyright()
