@main("Neptun Dashboard"){

<!----End Calender -------->
<div class="graphs">

    <div class="col_1">
        <div class="xs" >
            <h3 style="text-align:center;">  Yarn调度任务信息列表  </h3>
            <div class="bs-example4" data-example-id="contextual-table">
                <table class="table" id = "yarnInfo">

                </table>
            </div>
        </div>

        <div class="clearfix"></div>

    </div>

@copyright()
</div>
<script charset="utf-8">
    $(document).ready(function(){
        $.ajax({
            type:"GET",
            url:"/yarnInfo",
            dataType:"json",
            success:function(data){
              var head= "<table border='10' width='439'><tr><th>JobID</th><th>User</th><th>Queue</th><th>State</th><th>FinalStatus</th><th>Progress</th><th>startedTime</th><th>finishedTime</th></tr>"
                var myobj=eval(data);
                for (var p in myobj) {
                    var datamid = data[p];
                    for(var  x in datamid){
                        var mid = eval(data[p][x]);
                        for (var i = 0; i < mid.length; i++) {
                             if(mid[i].progress == 100){
                             head += "<tr class= \"success\"><td><a href ='"+mid[i].trackingUrl+"'>"+mid[i].id+"</a></td><td>"+mid[i].user+"</td><td>"+mid[i].queue+"</td><td>"+mid[i].state+"</td><td>"+mid[i].finalStatus+"</td><td>"+mid[i].progress+"</td><td>"+ new Date(mid[i].startedTime).toLocaleString()+"</td><td>"+new Date(mid[i].finishedTime).toLocaleString()+"</td></tr>"
                             }
                             if(mid[i].progress != 100){
                             head += "<tr class= \"warning\"><td><a href ='"+mid[i].trackingUrl+"'>"+mid[i].id+"</a></td><td>"+mid[i].user+"</td><td>"+mid[i].queue+"</td><td>"+mid[i].state+"</td><td>"+mid[i].finalStatus+"</td><td>"+mid[i].progress+"</td><td>"+ new Date(mid[i].startedTime).toLocaleString()+"</td><td>"+new Date(mid[i].finishedTime).toLocaleString()+"</td></tr>"
                             }
                             if(mid[i].FinalStatus == "FAILED"){
                             head += "<tr class= \"active\"><td><a href ='"+mid[i].trackingUrl+"'>"+mid[i].id+"</a></td><td>"+mid[i].user+"</td><td>"+mid[i].queue+"</td><td>"+mid[i].state+"</td><td>"+mid[i].finalStatus+"</td><td>"+mid[i].progress+"</td><td>"+ new Date(mid[i].startedTime).toLocaleString()+"</td><td>"+new Date(mid[i].finishedTime).toLocaleString()+"</td></tr>"
                             }
                          };
                    }

                };
                head += " </table>";
                $('#yarnInfo').html(head);
            }
        });
});
    </script>
}

