@sidebar = {
<div class="sidebar-menu toggle-others fixed">

    <div class="sidebar-menu-inner">

        <header class="logo-env">

            <!-- logo -->
            <div class="logo">
                <a href="@routes.Application.index" class="logo-expanded">
                    <img src="@routes.Assets.at("images/neptune.png")" width="90" alt="" />
                </a>

                <a href="@routes.Application.index" class="logo-collapsed">
                    <img src="@routes.Assets.at("images/favicon.png")" width="40" alt="" />
                </a>
            </div>

            <!-- This will toggle the mobile menu and will be visible only on mobile devices -->
            <div class="mobile-menu-toggle visible-xs">
                <a href="#" data-toggle="user-info-menu">
                    <i class="fa-bell-o"></i>
                    <span class="badge badge-success">7</span>
                </a>

                <a href="#" data-toggle="mobile-menu">
                    <i class="fa-bars"></i>
                </a>
            </div>

            <!-- This will open the popup with user profile settings, you can use for any purpose, just be creative -->
            <div class="settings-icon">
                <a href="#" data-toggle="settings-pane" data-animate="true">
                    <i class="fa fa-cog fa-4x"></i>
                </a>
            </div>

        </header>



        <ul id="main-menu" class="main-menu">
            <!-- add class "multiple-expanded" to allow multiple submenus to open -->
            <!-- class "auto-inherit-active-class" will automatically add "active" class for parent elements who are marked already with class "active" -->
            <li>
                <a href="@routes.Application.index">
                    <i class="fa fa-dashboard fa-fw"></i>
                    <span class="title">仪表盘</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-check-square-o"></i>
                    <span class="title">数据应用面板</span>
                </a>
                <ul>
                    <li>
                        <a href="@routes.SparkJar.executejarpage">
                            <span class="title">SPARK-JAR应用</span>
                        </a>
                    </li>
                    <li>
                        <a href="@routes.SparkSql.sqlpage">
                            <span class="title">SPARK-SQL应用</span>
                        </a>
                    </li>
                    <li>
                        <a href="@routes.SparkStream.stream">
                            <span class="title">SPARK-STREAM基于HDFS的应用</span>
                        </a>
                    </li>
                    <li>
                        <a href="@routes.SparkStream.stream">
                            <span class="title">SPARK-STREAM基于KAFKA的应用</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-table"></i>
                    <span class="title">APP数据</span>
                </a>
                <ul>
                    <li>
                        <a href="@routes.YarnList.yarnlist">
                            <span class="title">Yarn数据列表</span>
                        </a>
                    </li>
                    <li>
                        <a href="@routes.YarnList.sparklist">
                            <span class="title">Spark数据列表</span>
                        </a>
                    </li>
                    <li>
                        <a href="@routes.YarnList.workerInfo">
                            <span class="title">Spark Worker信息</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-anchor"></i>
                    <span class="title">任务调度</span>
                </a>
                <ul>
                    <li>
                        <a href="@routes.Yarn.yarnDispatch">
                            <span class="title">Oozie任务调度</span>
                        </a>
                    </li>
                    <li>
                        <a href="@routes.Yarn.yarnDispatch">
                            <span class="title">Spark任务调度</span>
                        </a>
                    </li>
                    <li>
                        <a href="@routes.Yarn.yarnDispatch">
                            <span class="title">Yarn任务调度</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-bell"></i>
                    <span class="title">App Tracking</span>
                    <span class="label label-success pull-right">50</span>
                </a>
                <ul>
                    <li>
                        <a href="@routes.RunTask.runTask">
                            <span class="title">Spark Stream 运行任务列表</span>
                        </a>
                    </li>
                    <li>
                        <a href="@routes.MonitorController.jobs">
                            <span class="title">Spark Sql任务列表</span>
                        </a>
                    </li>
                    <li>
                        <a href="@routes.RunTask.runTaskLogs">
                            <span class="title">Spark 运行任务日志</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-wrench"></i>
                    <span class="title">报警管理</span>
                    <span class="label label-success pull-right">5</span>
                </a>
                <ul>
                    <li>
                        <a href="@routes.AlarmDisk.alarmDisk">
                            <span class="title">磁盘空间报警</span>
                        </a>
                    </li>
                    <li>
                        <a href="@routes.AlarmDisk.alarmDisk">
                            <span class="title">内存相关报警</span>
                        </a>
                    </li>
                    <li>
                        <a href="@routes.AlarmDisk.alarmDisk">
                            <span class="title">其他报警</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-users"></i>
                    <span class="title">用户管理</span>
                </a>
                <ul>
                    <li>
                        <a href="@routes.Usertally.usertatol">
                            <span class="title">用户统计</span>
                        </a>
                    </li>
                    <li>
                        <a href="@routes.UserManager.userlist">
                            <span class="title">用户管理</span>
                        </a>
                    </li>
                    <li>
                        <a href="@routes.Usertally.usertatol">
                            <span class="title">权限分配</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-arrows-alt"></i>
                    <span class="title">节点分布情况</span>
                </a>
                <ul>
                    <li>
                        <a href="@routes.Serviceplan.servicedao">
                            <span class="title">服务划分</span>
                        </a>
                    </li>
                    <li>
                        <a href="@routes.Serviceplan.graph">
                            <span class="title">Graph展示</span>
                        </a>
                    </li>
                    <li>
                        <a href="@routes.Serviceplan.functionplan">
                            <span class="title">功能划分</span>
                        </a>
                    </li>
                    <li>
                        <a href="@routes.MetaDataManager.metadata">
                            <span class="title">集群管理</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>

    </div>

</div>
}
@main("Neptun Dashboard")(sidebar){
<div>
</div >

</div>
<script charset="utf-8">
$(document).ready(function(){
    $.ajax({
        type:"GET",
        url:"/yarnSchedulerJson",
        dataType:"json",
        success:function(data){
            var head= "<table border='10' width='438'><tr><th>队列名称</th><th>最大内存</th><th>已使用内存</th><th>最大CPU数</th><th>已使用CPU数</th><th>最大App数</th></tr>"
            var schedulerJson=eval(data);
            var childQueues =schedulerJson.scheduler.schedulerInfo.rootQueue.childQueues
             for(var  x in childQueues){
                var queueName= childQueues[x].queueName
                var maxApps= childQueues[x].maxApps
                var maxResourcesMemory =childQueues[x].maxResources.memory
                var minResourcesMemory =childQueues[x].minResources.memory
                var maxResourcesVCores =childQueues[x].maxResources.vCores
                var minResourcesVCores =childQueues[x].minResources.vCores
                var usedResourcesMemory =childQueues[x].usedResources.vCores
                var usedResourcesVCores =childQueues[x].usedResources.vCores
                if(maxApps <1000) {
               head += "<tr><td>"+queueName+"</td><td>"+Math.round(maxResourcesMemory/1024)+"G</td><td>"+usedResourcesMemory+"</td><td>"+maxResourcesVCores+"</td><td>"+usedResourcesVCores+"</td><td>"+maxApps+"</td></tr>"
                    }
               }
            head += " </table>";
            $('#yarnSchedulerJson').html(head);
        }
    });
});
    </script>


@copyright()
}
